// COLORS
// - - - - - - - - - - - - - 

// WOODS REAL ESTATE

$red: #b70018;
$woods-gray: #c7c8ca;
$woods-gray-dark: #414042;
$blue: #537fb3;

$primary-color: $red;
$secondary-color: $woods-gray-dark;
$tertiary-color: $blue;
$quaternary-color: $woods-gray;
