@import '../sass-burger';

// SITE HEADER
// - - - - - - - - - - - - -

.rn-site-header {
	border-bottom: ($gutter-width / 2) solid $tertiary-color;
	
    width: 100%;
	
	> .rn-container {
		padding: 0;
		width: 100%; // Set a width for flexbox to work within
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	@media #{$mobile-view} {
        border-bottom: none;
        height: $search-site-header-height-small;
        max-height: $search-site-header-height-small;

        position: relative;

        align-items: center;
        display: flex;
		> .rn-container {
            height: 100%;

            flex: 1 1 75%;
			justify-content: center;
		}
	}
}

// PROPERTY WATCH

.rn-site-header-property-watch {
	font-size: rem-calc(13);
	
	padding: 0 ($gutter-width / 2) ($gutter-width / 2);
	width: 100%;
	
	display: flex;

	ul {
		border-color: $gray-lighter;
		border-style: solid;
		border-width: 0 1px 1px;
		font-size: rem-calc(12);
		text-align: right;
	
		margin: 0;
		padding: ($gutter-width / 2) $gutter-width;
		width: 100%;
	
		list-style: none;
		
		align-items: center;
		align-self: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	
		li {
			display: inline-block;
		}
	
		a {
			color: $primary-color;
            font-weight: 400;
			text-decoration: none;
			text-transform: uppercase;
		
			padding: $gutter-width / 2;
		
			transition: $transition;
			
			&:hover {
				color: $secondary-color;
			}
		}
	
		i {
			font-size: rem-calc(20);
		
			vertical-align: middle;
		}
	}
    @media #{$mobile-view} {
        display: none;
    }
}

// LOGO

.rn-site-header-logo {
	align-items: center; // Center logo vertically
	display: flex;
	flex: 1 1 15%;
	
	a {
		padding: 0 $gutter-width 0 ($gutter-width / 2); // Give gutter padding to sides to make logo easily clickable with extra right padding for equal spacing from name

        
	}
	
	img {
		max-height: 100%;
		max-width: 100%;
		width: 100%;
	}

    h3 {
        margin: 0;
        padding-right: $gutter-width;
        @media #{$mobile-view} {
            font-size: rem-calc(12);
            line-height: 1;
        }
    }

	
	@media #{$mobile-down} {
		a {
			padding: 0 ($gutter-width / 2);

            align-items: center;
            display: flex;
		}
	}
	
	@media #{$small-only} {
        height: 100%;
		width: 40%;

		justify-content: flex-end;
	}
}

// MOBILE AGENT DETAILS

.rn-site-header-mobile-agent {
    display: none;
    @media #{$mobile-view} {
        display: block;
        height: 100%;
        width: 50%;
        z-index: 10;
        .rn-site-header-mobile-agent-photo {
            height: 100%;
            width: 100%;

            align-items: center;
            display: flex;
            img {
                height: 100%;
                width: auto;
            }
            i {
                color: $primary-color;
                font-size: rem-calc(20);
                font-weight: bold;

                transition: $transition;
            }
            
        }
        &.is-active {
            .rn-icon-angle-down {
                transform: rotate(180deg);
            }
        }
    }
}

.rn-site-header-mobile-agent-info {
    display: none; // Default hide until agent photo is clicked

    position: absolute;
    left: $gutter-width;
    right: $gutter-width;

    background: $white;
    padding: $gutter-width / 2;
}

.rn-site-header-mobile-agent-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .rn-site-header-mobile-agent-name {
        font-size: rem-calc(24);
    }

    .rn-site-header-agent-contact {
        flex: 1 1 100%;
        li {
            display: none;
        }
        li:first-of-type {
            display: flex;
        }
    }

    span {
        &:last-of-type {
            margin-bottom: $gutter-width / 2;
        }
    }

    a {
        text-decoration: none;
    }

    li {
        font-size: rem-calc(14);
    }
}

// AGENT DETAILS

.rn-site-header-agent-name {
	border-left: 1px solid $gray-lighter;
	
	padding: 0 $gutter-width; // No gutter for top/bottom double gutter for left/right
	
	display: flex;
	flex: 1 1 auto;

    .rn-site-header-agent-name-headers {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-right: $gutter-width;
    }
	
	h1,
	h4 {
		margin: 0;
	}
	
	h1 {
		font-size: rem-calc(32);
		font-weight: 300;
		line-height: 1;
	}
	
	h4 {
		font-size: rem-calc(14);
		font-weight: 200;
	}

    img {
		height: rem-calc(72);
		width: auto;
        @media #{$mobile-view} {
            display: none;
        }
	}
	
	@media #{$tablet-up} {
		flex: 1 1 rem-calc(288);
	}

    @media #{$tablet-only} {
        max-width: 25%;
    }
	
	@media #{$mobile-down} {
        display: none;

		max-width: 60%;
		padding: $gutter-width / 2;
		
		align-items: flex-start;
		flex: 0 1 auto;
	}
	
	@media #{$small-only} {

		h1 {
			font-size: 6vw;
		}
		
		h4 {
			font-size: rem-calc(10);
		}
	}
}

.rn-site-header-agent-details {
	font-size: rem-calc(13);
	
	padding: 0 ($gutter-width / 4);
	
	align-content: space-around;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	
	h3 {
		font-size: rem-calc(16);
		
		margin: 0;
	}
		
	a {
		color: $primary-color;
        text-decoration: none;
	}
	
	@media #{$small-only} {
        width: 100%;

		align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
	}
}

.rn-site-header-agent {
	padding: ($gutter-width / 4) 0;
	
	display: flex;
    flex: 1 1 25%;
    justify-content: flex-end;
	
	
	@media #{$small-only} {
        display: none;

		padding: $gutter-width / 2;
	}
}

.rn-site-header-agent-contact,
.rn-site-header-agent-email,
.rn-site-header-agent-social-links {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	align-items: center;
    display: flex;
		
	li {
		padding: ($gutter-width / 4) ($gutter-width / 2);
		
		&:first-of-type {
			padding-left: 0;
		}
	}
    i {
        color: $primary-color;
        font-size: rem-calc(18);

        margin-right: $gutter-width / 4;
    }
}

.rn-site-header-agent-contact {
    flex: 1 1 100%;
    li {
        border-left: 1px solid $primary-color;
        &:first-of-type {
            border: none;
        }
    }
}

.rn-site-header-agent-email {
    flex: 1 1 auto;
    li {
        align-items: center;
        display: flex;
    }
    
}

.rn-site-header-agent-social {
    flex: 1 1 auto;
	a {
		text-decoration: none;
	}
}

// NAVIGATION

.rn-site-header-nav {
	font-size: rem-calc(12);
	
	margin: 0;
	padding: 0;
	width: 100%;

	@media #{$mobile-down} {
        flex: 1 1 25%;

        .rn-container {
            align-items: center;
            display: flex;
        }
	}

    .text {
        display: none;
    }
}

.rn-site-header-nav-menu {
	margin: 0;
	padding: 0;
	width: 100%; // Let menu fill full width of rn-container
	
	list-style: none; // Remove bullets
	
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	
	li {
		display: flex;
		flex: 1 1 auto;
		
		&:hover {
			a {
				background: $primary-color;
				color: $white;
			}
		}
		
		&.has-dropdown {
			position: relative;
			
			display: flex;
			flex-direction: column;
			
			&:hover {
				.dropdown {
					display: block; // Show dropdown menu when hovering over nav item
				}
			}
		}
		
		&:last-child {
			.dropdown {
				right: 0; // Let last nav item align right
				left: auto; // Overwrite left: 0
			}
		}
	}
	
	a {
		text-align: center;
		text-decoration: none; // Remove underline from links
		text-transform: uppercase;
		
		padding: ($gutter-width * .75) $gutter-width; // Extra gutter padding top/bottom - normal gutter padding left/right
		width: 100%; // Fill li width
	}
	
	.dropdown {
		margin: 0;
		
		list-style: none;
		
		li {
			&:hover {
				a {
					background: $primary-color;
					color: $white;
				}
			}
			
			a {
				background: $white;
				color: $primary-color;
				
				padding: ($gutter-width / 2) $gutter-width;
				min-width: 100%;
				
				display: inline-block;
			}
		}
	}


	@media #{$tablet-up} {
		
		
		.dropdown {
			padding: 0; // gutter-width padding on top to drop below header
			width: rem-calc(190);
		
			display: none; // Hide by default
		
			position: absolute;
			top: 100%; // Nav height
			left: 0;
			z-index: 10;
		}
	}

	@media #{$mobile-down} {
		width: 100%; // Fill the width of the screen
		
		display: none; // Hide nav by default for smaller screens
		
		position: absolute; // Nav should overlap content for mobile
		top: 100%;
		left: 0; // Append to left of screen
		z-index: 10; // Display over page content
		
		a {
			background: $primary-color;
			color: $white;
			line-height: 2; // Increase height for ease of clicking
			
			padding: $gutter-width / 2; // Increase padding for ease of clicking
			width: 100%; // Fill entire li element
			
			display: block; // Fill entire width
		}

		
		.dropdown {
			padding: 0;
			width: 100%;
			
			display: block;
			
			position: relative;
			top: auto;
		}
	}
}

body:not(.search) {
    @media #{$tablet-up} {
        .rn-site-header-nav-menu {
            display: flex !important; // Used here to ensure nav-menu is flexed in case of use at smaller screen and then expanded to larger screen
        }
        
    }
}

.rn-site-header-nav-button {
	text-decoration: none; // Removed underlines

	@media #{$tablet-up} {
		display: none; // Hidden by default
	}

	@media #{$mobile-down} {
		color: $primary-color;
		
		text-decoration: none;
		
		padding: $gutter-width / 2;

		justify-content: flex-end;

        i {
            font-size: rem-calc(33);
        }
		
		&.rn-site-navigation-toggle,
        &.rn-search-user-toggle {
			display: flex; // Allow sass-burger and text to be inline
		}
		
		
		&.rn-search-criteria-toggle {
			display: none; // Hide for non-search pages
		}
		
		.rn-site-header-nav-burger {
			@include burger(rem-calc(24), rem-calc(1), rem-calc(7), $primary-color);
		}
		
		&.is-active {
			.rn-site-header-nav-burger {
				@include burger-to-cross;
			}
		}
	}
}

//Dashboard styling
.rn-extranet {
    padding: $gutter-width;
}
.rn-dashboard-form-button,
.rn-dashboard-navigation a,
.rn-dashboard-history-button,
.rn-dashboard-agent-transfer-button,
.rn-popup-button,
.rn-popup-contact-button {
	background: $primary-color;

	transition: $transition;

	&:hover {
		background: lighten($primary-color, 10%);
	}
}

.rn-dashboard-navigation a.rn-dashboard-active {
	background: $primary-color;

	&:hover {
		background: lighten($primary-color, 8%);
	}
}

.rn-dashboard-home-title,
.rn-dashboard-header-title,
.rn-dashboard-messages h3 {
	color: $primary-color;
}