body.search {
	// SITE HEADER
	// - - - - - - - - - - - - -
	
	.rn-site-header {
		@extend .rn-container;
		
		height: $search-site-header-height; // Set to control search area height
		max-height: $search-site-header-height; // Don't allow the heder to outgrow the set height
        max-width: rem-calc(1200);
		
		display: flex;
		
		> .rn-container {
			height: 100%;
            max-width: rem-calc(1050);
			padding: 0; // Add padding to top/bottom only

            
		}
	
		@media #{$mobile-down} {
			height: $search-site-header-height-small; // Change header height for mobile
			max-height: $search-site-header-height-small; // Maintain header height despite content
				
			flex-direction: row; // Flex-items should be in a row
			flex-wrap: nowrap; // Don't allow flex-items to wrap
            justify-content: space-between;
			
			position: relative; // Set so that mobile nav dropdown spans entire header
	
			> .rn-container {
				flex: 0 0 60%;
				flex-direction: row;
			}
		}
	}
	
	// LOGO
	
	.rn-site-header-logo {
		height: 100%;
		
		flex: 0 1 auto;
		
		a {
			padding: $gutter-width / 2; // Give gutter padding to make logo easily clickable
			height: 100%;
		}
		
		img {
			height: 100%;
			width: auto;
		}
	
		@media #{$mobile-down} {
			height: 100%;
			width: 100%;
				
			flex: 0 0 auto; // Don't allow logo to to shrink for mobile
			justify-content: flex-start;
				
			a {
				padding: $gutter-width / 4; // Decrease padding for larger logo
                width: 100%;
	
				align-items: center; // Allow img to center vertically if logo should shrink horizontally
				display: flex;
			}
            h3 {
                font-size: rem-calc(10);
            }
		}
	}

	// AGENT INFO
	.rn-site-header-agent-name {
		margin: ($gutter-width / 2) 0;
		padding: 0 ($gutter-width / 2); // No gutter for top/bottom, normal gutter for left/right

		flex: 1 1 auto;
		
		h1 {
            font-size: rem-calc(18);
        }
        h4 {
            font-size: rem-calc(14);
        }
        @media #{$mobile-down} {
			display: none;
		}
		

	}
    .rn-site-header-agent {
        img {
            
            display: none;
            @media #{$tablet-up} {
                height: rem-calc(56);

                display: block;
            }
        }
        
    }
    .rn-site-header-agent-details {
        display: none;
        @media #{$tablet-up} {
            display: flex;
        }
        .rn-site-header-agent-social {
            margin: 0;
        }
    }

    // PROPERTY WATCH 
    .rn-site-header-property-watch {
        display: none;
    }

	// NAVIGATION
	
	.rn-site-header-nav {
        background: transparent;
	    max-width: rem-calc(150);
	    height: 100%;
			
	    display: flex;
	    align-items: center;
	    justify-content: flex-end;
			
        position: initial;
		width: 100%; // Fill the width of the screen
			
		z-index: 10; // Display over page content

        @media #{$mobile-view} {
            flex: 0 0 40%;
        }
		
		li a {
			background: $primary-color;
			color: $white;
			line-height: 2; // Increase height for ease of clicking
			
			padding: $gutter-width / 2; // Increase padding for ease of clicking
			width: 100%; // Fill entire li element
			
			display: block; // Fill entire width
            transition: $transition;
            
            &:hover {
                    background: lighten($primary-color, 10%);
                }
		    }
		
		.dropdown {
			padding: 0;
			width: 100%;
			
			display: block;
			
			position: relative;
			top: auto;
		}

			
	    .rn-container {
		    height: 100%;
		    margin: 0;
				
		    align-items: center;
		    display: flex;
	    }

	}
	
	.rn-site-header-nav-menu {
        display: none;

        position: absolute;
        top: $search-site-header-height;
        left: 0;
        right: 0;

        margin: 0 auto;
        max-height: calc(100vh - #{$search-site-header-height});
        max-width: rem-calc(1200);
		z-index: 10000;

        overflow-y: auto;

        a {
            text-align: center;
        }
		.dropdown li a {
			background: $gray;
            transition: $transition;
            &:hover {
                background: lighten($gray, 10%);
            }
		}

        @media #{$mobile-view} {
            top: 100%;
        }

	}
	
	.rn-site-header-nav-button {
		color: $primary-color;
        text-decoration: none; // Removed underlines

		background: transparent;

		
		padding: $gutter-width / 2;

		justify-content: flex-end;
		
		&.rn-site-navigation-toggle,
        &.rn-search-user-toggle {
            @media #{$tablet-up} {
                height: 100%;
                padding: ($gutter-width / 4);
            }
            
            align-items: center;
			display: flex; // Allow sass-burger and text to be inline
            flex-direction: column;
            justify-content: space-between;
            .text {
				font-weight: bold;
                text-transform: uppercase;

                margin-top: $gutter-width / 4;
                @media #{$tablet-up} {
                    display: block;
                }
			}
		}
			
			
		i {
			color: $primary-color;
			font-size: rem-calc(33);
		}
			
		.rn-site-header-nav-burger {
			@include burger(rem-calc(24), rem-calc(1), rem-calc(7), $primary-color); // Burger should be 24px high with 1px high $gray lines and 7px gaps
            @media #{$tablet-up} {
                margin-top: $gutter-width;
            }
		}
			
		&.is-active {
			.rn-site-header-nav-burger {
				@include burger-to-cross; // Burger transforms to cross when active
			}
		}
	
	
		@media #{$mobile-down} {
			text-align: center;
				
			padding: $gutter-width / 2;
				
			display: inline-block;
            &.rn-search-user-toggle,
		&.rn-search-criteria-toggle {
			padding: $gutter-width / 4;
		}
		}
	}
	
	// CONTENT
	
	.page-content {
		padding: 0;
		
		.row {
			max-width: none;
		}
	}

    // Fix for tables breaking layout on inline LDP pages 
    table {
        table-layout: fixed;
    }
}
