@import '../sass-burger';

// SITE HEADER
// - - - - - - - - - - - - -

.rn-site-header {
	background: $white;
	color: $black;
	
	width: 100%;
	
	> .rn-container {
		padding: ($gutter-width / 2) 0; // Add padding to top/bottom only
		width: 100%; // Set a width for flexbox to work within
		
		display: flex;
	}
	
    @media #{$mobile-down} {
		height: $search-site-header-height-small;
        max-height: $search-site-header-height-small;

        position: relative;

        align-items: center;
        display: flex;
        
		> .rn-container {
			height: 100%;
            padding: 0;

            flex: 1 1 auto;
		}
	}
}

// AGENT CONTACT

.rn-site-header-agent-mobile-contact {
	height: 100%; // Fill mobile header height
	
	img {
		height: 100%; // Fill .rn-site-header-agent-contact height
		padding: 0 ($gutter-width / 2); // Give padding to left/right for ease of clicking and space between image and logo
		width: auto;
		
		cursor: pointer;
	}
	
	@media #{$tablet-up} {
		display: none;
	}
	
	@media #{$mobile-down} {
		height: 100%;
	}
}

.rn-site-header-agent-mobile-contact-list {
	background: $white;
	border-bottom: 1px solid $primary-color;
	
	margin: 0;
	padding: $gutter-width / 2;
	width: 100%;
	
	list-style: none;
	
	display: none;
	
	position: absolute;
	top: $search-site-header-height-small;
	z-index: 2;
	
	h2 {
		font-weight: 300;
		
		margin-bottom: 0;
	}
	
	h4 {
		font-weight: 200;
		
		margin-bottom: $gutter-width / 2;
	}
	
	li {
		align-items: center;
		display: flex;
	}
	
	a {
		font-size: rem-calc(14);
		text-decoration: none;
		
		padding: ($gutter-width / 4) ($gutter-width / 2);
	}
}

// LOGO

.rn-site-header-logo {
	align-items: center; // Center logo vertically
	display: flex;
	
	a {
		padding: 0 $gutter-width 0 ($gutter-width / 2); // Give gutter padding to sides to make logo easily clickable with extra right padding for equal spacing from name
	}
	
	img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}

    h3 {
        margin: 0;
        padding-right: $gutter-width;
    }
    
    @media #{$tablet-up} {
	    flex: 0 0 auto;
    }
	
	@media #{$mobile-down} {
		height: 100%;
		
		flex: 1 1 auto;
		justify-content: center;
		
		a {
			height: 100%;
			padding: ($gutter-width / 4) ($gutter-width / 2);

            align-items: center;
            display: flex;
		}
		
		h3 {
			font-size: rem-calc(12);
			line-height: 1;
		}
	}
}

.no-flexboxlegacy { // Target IE
	.rn-site-header-logo {
		@media #{$mobile-down} {
			img {
				width: 100%;
			}
		}
	}
}

// AGENT NAME

.rn-site-header-agent-name {
	border-left: 1px solid $gray-lighter;
	
	padding: 0 $gutter-width; // No gutter for top/bottom double gutter for left/right
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	h1,
	h4 {
		margin: 0;
	}
	
	h1 {
		font-size: rem-calc(32);
		font-weight: 300;
		line-height: 1;
	}
	
	h4 {
		font-size: rem-calc(14);
		font-weight: 200;
	}
	
	@media #{$tablet-up} {
		flex: 1 1 rem-calc(320);
	}
	
	@media #{$mobile-down} {
        display: none;

		max-width: 60%;
		padding: $gutter-width / 2;
		
		align-items: flex-start;
		flex: 0 1 auto;
			
		h1 {
			font-size: 6vw;
		}
		
		h4 {
			font-size: rem-calc(10);
		}
	}
}

// AGENT AREA

.rn-site-header-agent {
    padding: $gutter-width / 2;

    display: flex;
    flex: 0 0 auto;
    
	img {
		height: rem-calc(72);
		padding-right: $gutter-width / 2;
	}
    
    @media #{$mobile-down} {
        display: none;
    }
}

.rn-site-header-agent-details {
	align-items: center; 
	display: flex;
	flex: 1 1 auto;
    flex-direction: column;
	justify-content: space-around; // Center items vertically with space between
	
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		
		list-style: none;
		
		display: flex;
		justify-content: center;
	}
}

.rn-site-header-agent-phone,
.rn-site-header-agent-email {
	li {
		border-left: 1px solid $primary-color;
		
		&:first-of-type {
			border: none;
		}
	}
	
	a {
		font-weight: bold;
		text-decoration: none;
		
		padding: 0 ($gutter-width / 2) ($gutter-width / 4); // Very light bottom padding to assist line height
		
		transition: $transition;
		
		&:hover {
			color: $secondary-color;
		}
	}
}

.rn-site-header-agent-email {
	a {
		font-size: rem-calc(14);
		
		align-items: center;
		display: flex;
		
		i {
			font-size: rem-calc(16);

			margin-right: $gutter-width / 4;
		}
	}
}

.rn-site-header-agent-social {
	a {
		color: $white;
		font-size: rem-calc(16);
		text-decoration: none;
		text-shadow: 0 0 rem-calc(4) rgba($primary-color, .9);
		
		padding: 0 ($gutter-width / 2);
		
		transition: $transition;
		
		&:hover {
			text-shadow: 0 0 rem-calc(4) rgba($secondary-color, .9);
		}
	}
}

// PROPERTY WATCH

.rn-site-header-property-watch {
	font-size: rem-calc(12);
	text-align: right;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	display: block;
	
	li {
		display: inline-block;
	}
	
	a {
		font-weight: 400;
		text-decoration: none;
		
		padding: 0 ($gutter-width / 2);
		
		transition: $transition;
		
		&:hover {
			color: $secondary-color;
		}
	}
	
	i {
		font-size: rem-calc(20);
		
		vertical-align: middle;
	}
	
	@media #{$mobile-down} {
        display: none;
		text-align: center;
		
		padding: ($gutter-width / 2) 0;
		
		a {
			padding: $gutter-width / 2;
		}
	}
}

// NAVIGATION

.rn-site-header-nav {
	background: $primary-color;
	font-size: rem-calc(12);
	
	margin: 0;
	padding: 0;
	
    .text {
        display: none;
    }
	
	@media #{$tablet-up} {
		width: 100%;
		
		&.scroll-fix {
			position: fixed;
			top: 0;
			z-index: 1;
		}
	}

	@media #{$mobile-down} {
        background: $white;
        height: 100%;

        flex: 0 0 auto;

        .rn-container {
            height: 100%;

            align-items: center;
            display: flex;
        }
	}
}

.rn-site-header-nav-menu {
	margin: 0;
	padding: 0;
	width: 100%; // Let menu fill full width of rn-container
	
	list-style: none; // Remove bullets
	
	display: flex;
	flex-wrap: wrap;
	
	li {
		display: flex;
		flex: 1 0 auto;
		
		&.has-dropdown {
			position: relative;
			
			display: flex;
			flex-direction: column;
			
			&:hover {
				.dropdown {
					display: block; // Show dropdown menu when hovering over nav item
				}
			}
		}
		
		&:last-child {
			.dropdown {
				right: 0; // Let last nav item align right
				left: auto; // Overwrite left: 0
			}
		}
	}
	
	a {
		color: $white;
		text-decoration: none; // Remove underline from links
		text-transform: uppercase;
		
		padding: ($gutter-width * .75) ($gutter-width / 2); // Extra gutter padding top/bottom - normal gutter padding left/right
		width: 100%; // Fill li width
	}
	
	.dropdown {
		margin: 0;
		
		list-style: none;
		
		li {
			&:hover {
				a {
					background: $secondary-color;
				}
			}
			
			a {
				background: $primary-color;
				
				padding: ($gutter-width / 2) $gutter-width;
				min-width: 100%;
				
				display: inline-block;
			}
		}
	}

	@media #{$tablet-up} {
		.dropdown {
			max-height: 80vh; // Sets a max height in case there are so many elements in a dropdown that it goes beyond the height of the page
			padding: 0; // gutter-width padding on top to drop below header
			width: rem-calc(190);
		
			display: none; // Hide by default
			
			overflow-y: scroll; // Allows scrolling in case there are a ridiculous amout of elements in the dropdown
			position: absolute;
			top: 100%; // Nav height
			left: 0;
			z-index: 10;
		}
	}

	@media #{$mobile-down} {
		width: 100%; // Fill the width of the screen
		
		display: none; // Hide nav by default for smaller screens
		
		position: absolute; // Nav should overlap content for mobile
		top: 100%;
		left: 0; // Append to left of screen
		z-index: 10; // Display over page content
		
		a {
			background: $primary-color;
			line-height: 2; // Increase height for ease of clicking
			
			padding: $gutter-width / 2; // Increase padding for ease of clicking
			width: 100%; // Fill entire li element
			
			display: block; // Fill entire width
		}
		
		.dropdown {
			padding: 0;
			width: 100%;
			
			display: block;
			
			position: relative;
			top: auto;

			li {
				&:hover {
					a {
						background: $primary-color;
					}
				}

				a {
					background: $secondary-color;
				}
			}
		}
	}
}

body:not(.search) {
    @media #{$tablet-up} {
        .rn-site-header-nav-menu {
            display: flex !important; // Used here to ensure nav-menu is flexed in case of use at smaller screen and then expanded to larger screen
        }
        
    }
}

.rn-site-header-nav-button {
	text-decoration: none; // Removed underlines

	@media #{$tablet-up} {
		display: none; // Hidden by default
	}

	@media #{$mobile-down} {
		color: $white;
		
		text-decoration: none;
		
		padding: $gutter-width / 2;

        i {
            color: $primary-color; 
            font-size: rem-calc(33);
        }
		
		&.rn-site-navigation-toggle,
        &.rn-search-user-toggle {
			display: flex; // Allow sass-burger and text to be inline
		}
		
		&.rn-search-criteria-toggle {
			display: none; // Hide for non-search pages
		}
		
		.rn-site-header-nav-burger {
			@include burger(rem-calc(24), rem-calc(1), rem-calc(7), $primary-color);
		}
		
		&.is-active {
			.rn-site-header-nav-burger {
				@include burger-to-cross;
			}
		}
	}
}

//Dashboard styling
.rn-extranet {
    padding: $gutter-width;
}

.rn-dashboard-form-button,
.rn-dashboard-navigation a,
.rn-dashboard-history-button,
.rn-dashboard-agent-transfer-button,
.rn-popup-button,
.rn-popup-contact-button {
	background: $primary-color;

	transition: $transition;

	&:hover {
		background: lighten($primary-color, 10%);
	}
}

.rn-dashboard-navigation a.rn-dashboard-active {
	background: $primary-color;

	&:hover {
		background: lighten($primary-color, 10%);
	}
}

.rn-dashboard-home-title,
.rn-dashboard-header-title,
.rn-dashboard-messages h3 {
	color: $primary-color;
}
