// COLORS
// - - - - - - - - - - - - - 

// Platinum Properties

$red: #910048;
$blue: #B9D9EB;
$pp-gray-dark: #1D252D;
$pp-gray-light: #666666;

$primary-color: $red;
$secondary-color: $blue;
$tertiary-color: $pp-gray-dark;
$quaternary-color: $pp-gray-light;
