// COLORS
// - - - - - - - - - - - - - 

// BHHS Foster

$purple: #552448;
$bhhs-gray-dark: #636466;
$bhhs-gray-light: #939598;

$primary-color: $purple;
$secondary-color: $bhhs-gray-dark;
$tertiary-color: lighten($primary-color, 10%);
$quaternary-color: $bhhs-gray-light;
