$form-spacing: $gutter-width;

$input-background: $white !default;
$input-background-focus: $white !default;
$input-background-disabled: $gray-2 !default;
$input-border: 1px solid $gray-3 !default;
$input-border-focus: 1px solid $gray-5 !default;
$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default;
$input-shadow-focus: 0 0 5px $gray-5 !default;
$input-color: $black !default;
$input-placeholder-color: $gray-3 !default;
$input-font-family: inherit !default;
$input-font-size: rem-calc(14) !default;
$input-cursor-disabled: not-allowed !default;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out !default;
$input-number-spinners: true !default;
$input-radius: 0 !default;

$label-color: $black !default;
$label-font-size: rem-calc(14) !default;
$label-font-weight: normal !default;
$label-line-height: 1.8 !default;

$helptext-color: $black !default;
$helptext-font-size: rem-calc(13) !default;
$helptext-font-style: italic !default;

$input-prefix-color: $black !default;
$input-prefix-background: $gray-1 !default;
$input-prefix-border: 1px solid $gray-3 !default;
$input-prefix-padding: $gutter-width !default;

$fieldset-border: 1px solid $gray-3 !default;
$fieldset-padding: rem-calc(20) !default;
$fieldset-margin: rem-calc(18 0) !default;
$legend-padding: rem-calc(0 3) !default;

$select-background: $white !default;
$select-triangle-color: $gray-5 !default;
$select-radius: 0 !default;

$slider-height: $gutter-padding !default;
$slider-background: $gray-1 !default;
$slider-fill-background: $gray-3 !default;
$slider-handle-height: 1.4rem !default;
$slider-handle-width: 1.4rem !default;
$slider-handle-background: $primary-color !default;
$slider-opacity-disabled: 0.25 !default;
$slider-radius: 0 !default;

$progress-height: $gutter-width !default;
$progress-background: $gray-3 !default;
$progress-margin-bottom: $gutter-padding !default;
$progress-meter-background: $primary-color !default;
$progress-radius: 0 !default;

$meter-height: 1rem !default;
$meter-radius: 0 !default;
$meter-background: $gray-3 !default;
$meter-fill-good: $success-color !default;
$meter-fill-medium: $warning-color !default;
$meter-fill-bad: $alert-color !default;

$abide-inputs: true !default;
$abide-labels: true !default;
$input-background-invalid: $alert-color !default;
$form-label-color-invalid: $alert-color !default;
$input-error-color: $alert-color !default;
$input-error-font-size: rem-calc(12) !default;
$input-error-font-weight: 600 !default;

@mixin form-element {
  $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $height;
  padding: $form-spacing / 2;
  border: $input-border;
  margin: 0 0 ($form-spacing / 2);

  font-family: $input-font-family;
  font-size: $input-font-size;
  color: $input-color;
  background-color: $input-background;
  box-shadow: $input-shadow;
  border-radius: $input-radius;

  @if has-value($input-transition) {
    transition: $input-transition;
  }

  &:focus {
    border: $input-border-focus;
    background-color: $input-background-focus;
    outline: none;
    box-shadow: $input-shadow-focus;

    @if has-value($input-transition) {
      transition: $input-transition;
    }
  }
}

// TEXT
// - - - - - - - - - - - - -

@mixin crm-form-text {
  #{text-inputs()},
  textarea {
    @include form-element;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  textarea {
    max-width: 100%;

    &[rows] {
      height: auto;
    }
  }

  input,
  textarea {
    &::placeholder {
      color: $input-placeholder-color;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-background-disabled;
      cursor: $input-cursor-disabled;
    }
  }

  [type='submit'],
  [type='button'] {
    border-radius: 0; // $button-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type='search'] {
    box-sizing: border-box;
  }

  [type='number'] {
    @if not $input-number-spinners {
      -moz-appearance: textfield;

      [type='number']::-webkit-inner-spin-button,
      [type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

// CHECKBOX
// - - - - - - - - - - - - -

@mixin crm-form-checkbox {
  [type='file'],
  [type='checkbox'],
  [type='radio'] {
    margin: 0 0 ($form-spacing / 2);
  }

  [type='checkbox'] + label,
  [type='radio'] + label {
    display: inline-block;
    margin-left: $form-spacing / 2;
    margin-right: $form-spacing;
    margin-bottom: 0;
    vertical-align: baseline;

    &[for] {
      cursor: pointer;
    }
  }

  label > [type='checkbox'],
  label > [type='radio'] {
    margin-right: $form-spacing / 2;
  }

  [type='file'] {
    width: 100%;
  }
}

// LABEL
// - - - - - - - - - - - - -

@mixin form-label {
  display: block;
  margin: 0;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: $label-line-height;
  color: $label-color;
}

@mixin form-label-middle {
  $input-border-width: 1px;
  margin: 0 0 ($form-spacing / 2);
  padding: ($form-spacing / 2 + rem-calc($input-border-width)) 0;
}

@mixin crm-form-label {
  label {
    @include form-label;

    &.middle {
      @include form-label-middle;
    }
  }
}

// HELP TEXT
// - - - - - - - - - - - - -

@mixin crm-form-helptext {
  .help-text {
    $margin-top: ($form-spacing / 2) * -1;

    margin-top: $margin-top;
    font-size: $helptext-font-size;
    font-style: $helptext-font-style;
    color: $helptext-color;
  }
}

// INPUT GROUP
// - - - - - - - - - - - - -

@mixin crm-form-prepostfix {
  $height: ($input-font-size + $form-spacing * 1.5);

  .input-group {
    margin-bottom: $form-spacing / 2;
    width: 100%;
    
    align-items: stretch;
    display: flex;

    > :last-child {
      > * {
        border-radius: 0 0 0 0, 0 0 0 0;
      }
    }
  }

  %input-group-child {
    margin: 0;
  }

  .input-group-label {
    @extend %input-group-child;
    text-align: center;
    padding: 0 $input-prefix-padding;
    background: $input-prefix-background;
    color: $input-prefix-color;
    border: $input-prefix-border;
    white-space: nowrap;
	    
	flex: 0 0 auto;
	display: flex;
	align-items: center;

    @if has-value($input-prefix-border) {
      &:first-child {
        border-right: 0;
      }

      &:last-child {
        border-left: 0;
      }
    }
  }

  .input-group-field {
    @extend %input-group-child;
    border-radius: 0;

    // scss-lint:disable ZeroUnit

	flex: 1 1 0px;
	width: auto;
	height: auto;
  }

  .input-group-button {
    @extend %input-group-child;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
	    
    flex: 0 0 auto;

    a,
    input,
    button {
      margin: 0;
    }
  }

  .input-group .input-group-button {
    display: table-cell;
  }
}

// FIELDSET
// - - - - - - - - - - - - -

@mixin fieldset {
  border: $fieldset-border;
  padding: $fieldset-padding;
  margin: $fieldset-margin;

  legend {
    // Covers up the fieldset's border to create artificial padding
    background: $white;
    padding: $legend-padding;
    margin: 0;
    margin-left: rem-calc(-3);
  }
}

@mixin crm-form-fieldset {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  legend {
    margin-bottom: $form-spacing * 0.5;
    max-width: 100%;
  }

  .fieldset {
    @include fieldset;
  }
}

// SELECT
// - - - - - - - - - - - - -

@mixin form-select {
  $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

  height: $height;
  padding: ($form-spacing / 2);
  border: $input-border;
  margin: 0 0 ($form-spacing / 2);
  font-size: $input-font-size;
  font-family: $input-font-family;
  line-height: normal;
  color: $input-color;
  background-color: $select-background;
  border-radius: $select-radius;
  -webkit-appearance: none;
  -moz-appearance: none;

  @if $select-triangle-color != transparent {
    @include background-triangle($select-triangle-color);
    background-size: 9px 6px;
    background-position: right center;
    background-origin: content-box;
    background-repeat: no-repeat;
  }

  // Disabled state
  &:disabled {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
  }

  // Hide the dropdown arrow shown in newer IE versions
  &::-ms-expand {
    display: none;
  }

  &[multiple] {
    height: auto;
    background-image: none;
  }
}

@mixin crm-form-select {
  select {
    @include form-select;
  }
}

// RANGE
// - - - - - - - - - - - - -

@mixin crm-range-input {
  // scss-lint:disable QualifyingElement
  input[type="range"] {
    $margin: ($slider-handle-height - $slider-height) / 2;

    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: $margin;
    margin-bottom: $margin;
    border: 0;
    line-height: 1;

    @if has-value($slider-radius) {
      border-radius: $slider-radius;
    }

    &:focus {
      outline: 0;
    }

    &[disabled] {
      opacity: $slider-opacity-disabled;
    }

    // Chrome/Safari
    &::-webkit-slider-runnable-track {
      height: $slider-height;
      background: $slider-background;
    }

    &::-webkit-slider-handle {
      -webkit-appearance: none;
      background: $slider-handle-background;
      width: $slider-handle-width;
      height: $slider-handle-height;
      margin-top: -$margin;

      @if has-value($slider-radius) {
        border-radius: $slider-radius;
      }
    }

    // Firefox
    &::-moz-range-track {
      -moz-appearance: none;
      height: $slider-height;
      background: $slider-background;
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      background: $slider-handle-background;
      width: $slider-handle-width;
      height: $slider-handle-height;
      margin-top: -$margin;

      @if has-value($slider-radius) {
        border-radius: $slider-radius;
      }
    }

    // Internet Explorer
    &::-ms-track {
      height: $slider-height;
      background: $slider-background;
      color: transparent;
      border: 0;
      overflow: visible;
      border-top: $margin solid $body-background;
      border-bottom: $margin solid $body-background;
    }

    &::-ms-thumb {
      background: $slider-handle-background;
      width: $slider-handle-width;
      height: $slider-handle-height;
      border: 0;

      @if has-value($slider-radius) {
        border-radius: $slider-radius;
      }
    }

    &::-ms-fill-lower {
      background: $slider-fill-background;
    }

    &::-ms-fill-upper {
      background: $slider-background;
    }

    @at-root {
      output {
        line-height: $slider-handle-height;
        vertical-align: middle;
        margin-left: 0.5em;
      }
    }
  }
}

// PROGRESS
// - - - - - - - - - - - - -

@mixin crm-progress-element {
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: $progress-height;
    margin-bottom: $progress-margin-bottom;

    @if hasvalue($progress-radius) {
      border-radius: $progress-radius;
    }

    // For Firefox
    background: $progress-background;
    border: 0;

    &::-webkit-progress-bar {
      background: $progress-background;

      @if hasvalue($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    &::-webkit-progress-value {
      background: $progress-meter-background;

      @if hasvalue($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    &::-moz-progress-bar {
      background: $progress-meter-background;

      @if hasvalue($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    @each $name, $color in $crm-palette {
      &.#{$name} {
        // Internet Explorer sets the fill with color
        color: $color;

        &::-webkit-progress-value {
          background: $color;
        }

        &::-moz-progress-bar {
          background: $color;
        }
      }
    }
  }
}

// METER
// - - - - - - - - - - - - -

@mixin crm-meter-element {
  meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: $meter-height;
    margin-bottom: $gutter-padding;

    @if has-value($meter-radius) {
      border-radius: $meter-radius;
    }

    // For Firefox
    background: $meter-background;
    border: 0;

    // Chrome/Safari
    &::-webkit-meter-bar {
      background: $meter-background;

      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &::-webkit-meter-inner-element {
      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &::-webkit-meter-optimum-value {
      background: $meter-fill-good;

      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &::-webkit-meter-suboptimum-value {
      background: $meter-fill-medium;

      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &::-webkit-meter-even-less-good-value {
      background: $meter-fill-bad;

      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &::-moz-meter-bar {
      background: $primary-color;

      @if has-value($meter-radius) {
        border-radius: $meter-radius;
      }
    }

    &:-moz-meter-optimum::-moz-meter-bar {
      background: $meter-fill-good;
    }

    &:-moz-meter-sub-optimum::-moz-meter-bar {
      background: $meter-fill-medium;
    }

    &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
      background: $meter-fill-bad;
    }
  }
}

// ERROR
// - - - - - - - - - - - - -

@mixin form-input-error(
  $background: $input-background-invalid,
  $background-alpha: 0.1
) {
  &:not(:focus) {
    background-color: rgba($background, $background-alpha);
    border-color: $background;
  }
}

@mixin form-error {
  display: none;
  margin-top: $form-spacing * -0.5;
  margin-bottom: $form-spacing;
  font-size: $input-error-font-size;
  font-weight: $input-error-font-weight;
  color: $input-error-color;
}

@mixin crm-form-error {
  @if $abide-inputs {
    // Error class for invalid inputs
    .is-invalid-input {
      @include form-input-error;
    }
  }

  @if $abide-labels {
    // Error class for labels of invalid outputs
    .is-invalid-label {
      color: $form-label-color-invalid;
    }
  }

  // Form error element
  .form-error {
    @include form-error;

    &.is-visible {
      display: block;
    }
  }
}

// - - - - - - - - - - - - -

@include crm-form-text;
@include crm-form-checkbox;
@include crm-form-label;
@include crm-form-helptext;
@include crm-form-prepostfix;
@include crm-form-fieldset;
@include crm-form-select;
@include crm-form-error;
  