// COLORS
// - - - - - - - - - - - - - 

// HOME REAL ESTATE

$blue: #001689;
$blue-light: #3e54c3;
$yellow: #ffbd00;
$red: #ba0937;

$primary-color: $blue;
$secondary-color: $blue-light;
$tertiary-color: $yellow;
$quaternary-color: $red
