// SITE FOOTER
// - - - - - - - - - - - - -

.rn-site-footer {
	background: $yellow;
	
	padding: $gutter-width 0;
	
	.rn-container {
		padding: $gutter-width / 2;
	}
}

// NAVIGATION

.rn-site-footer-nav {
	display: flex;
}

.rn-site-footer-nav-menu {
	font-size: rem-calc(12);
	
	margin: 0 auto;
	padding: $gutter-width / 2;
	
	list-style: none;
	
	flex: 1 1 auto;
	
	li {
		padding: ($gutter-width / 4) 0;
		
		&:first-child {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	
	a {
		color: $black;
		font-size: rem-calc(11);
		text-decoration: none;
	}
}

// DISCLAIMER

.rn-site-footer-disclaimer {
	font-size: rem-calc(9);
	text-align: center;
	
	margin: $gutter-width;
	
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	
	.main {
		width: 100%;
	}
	
	.secondary {
		width: 80%;
	}
	
	a {
		color: $black;
	}
}

.rn-site-footer-links {
	font-size: rem-calc(12);
	
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
	
	img {
		height: auto;
		max-width: 100%;
		padding: ($gutter-width / 2) 0;
		width: 100%;

		display: inline-block;
	}
	
	a {
		color: $red;
		font-weight: bold;

		max-width: 100%;
	}
	
	span {
		color: $gray-dark;
		font-size: rem-calc(9);
		font-weight: bold;
	}
}

@media #{$mobile-down} {
	
	// NAVIGATION
	
	.rn-site-footer-nav {
		align-content: center;
		flex-wrap: wrap;
	}
}
