@import '../../../modules/internet/search/search3skin/scss/sass-burger';

// HEADER

.rn-site-header {
	background: $purple;
	background-image: url(../img/339243/purple-grid-bg.png);
	background-position: center top;
	background-repeat: repeat;
	color: $white;
	
	margin: 0;
	padding: 0;
	width: 100%;
	
	.rn-container {
		display: flex;
	}
}

// LOGO

.rn-site-header-logo {
	padding: $gutter-width / 2; // Give gutter padding to make logo easily clickable
	height: 100%;

	display: block;
	
	img {
		height: 100%;
		max-height: 100%;
		width: auto;

		display: block;
	}

	@media #{$mobile-down} {
		display: flex;
		justify-content: center;
	}
}

// RIGHT SIDE OF HEADER

.rn-site-header-right {
	align-items: flex-end;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: space-between;
}

// PROPERTY WATCH

.rn-site-header-property-watch {
	background: lighten($purple, 15%);
	border: 1px solid $white;
	border-radius: $gutter-width / 2;
	font-size: rem-calc(10);
	
	margin: ($gutter-width / -2) 0 $gutter-width;
	padding: ($gutter-width * .75) ($gutter-width / 2) ($gutter-width / 2);

	list-style: none;
	
	a {
		color: $white;
		text-transform: uppercase;
	}
	
	@media #{$small-only} {
		display: none;
	}
}

// HEADER PHONE

.rn-site-header-phone {
	font-family: $serif-font;
	font-size: rem-calc(14);
	
	flex: 1 1 auto;
	
	span {
		border-right: 1px solid $white;
		
		padding: 0 ($gutter-width / 2);
		
		&:last-of-type {
			border: none;
			
			padding-right: 0;
		}
	}
	
	@media #{$small-only} {
		display: none;
	}
}

// NAVIGATION

.rn-site-header-nav {
	font-family: $serif-font;
	font-size: rem-calc(14);
	
	width: 100%;

	align-self: flex-end;
	
	@media #{$small-only} {
		display: flex;
		justify-content: flex-end;
	}
}

.rn-site-header-nav-menu {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	display: flex;
	
	li {
		text-align: right;
		
		flex: 1 1 auto;
		
		&.has-dropdown {
			position: relative;
			
			&:hover {
				.dropdown {
					display: block; // Show dropdown menu when hovering over nav item
				}
			}
		}
	}
	
	a {
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		
		padding: $gutter-width / 2;

		display: block;
	}
	
	.dropdown {
		margin: 0;
		
		list-style: none;
		
		li {
			text-align: center;	

			&:hover {
				a {
					background: $gray;
				}
			}
			
			a {
				background: $purple;
				border: none;
				font-weight: normal; // Override bold font
				text-transform: none; // Override uppercase
				
				padding: ($gutter-width / 2) $gutter-width;
				min-width: 100%;
				
				display: inline-block;
			}
		}
	}

	@media #{$tablet-up} {
		display: flex !important; // Used here to ensure nav-menu is flexed in case of use at smaller screen and then expanded to larger screen
		flex-wrap: wrap;
		justify-content: flex-end;
		
		.dropdown {
			padding: $gutter-width 0 0; // gutter-width padding on top to drop below header
			width: rem-calc(160);
		
			display: none; // Hide by default
		
			position: absolute;
			top: rem-calc(16); // Nav height
			left: 0;
			z-index: 10;
			
			a:hover {
				color: $white; // Override red hover color
			}
		}
	}
	
	@media #{$mobile-down} {
		width: 100%; // Fill the width of the screen
		
		display: none; // Hide nav by default for smaller screens
		
		position: absolute; // Nav should overlap content for mobile
		top: 100%; // Nav should display below header
		left: 0; // Append to left of screen
		z-index: 10; // Display over page content
		
		li {
			border: none; // Remove border styling
		}
		
		a {
			background: $purple;
			line-height: 2; // Increase height for ease of clicking
			text-align: center; // Center text
			
			padding: $gutter-width / 2; // Increase padding for ease of clicking
			width: 100%; // Fill entire li element
			
			display: block; // Fill entire width
			
			&:hover {
				background: $black;
			}
		}
		
		.dropdown {
			padding: 0;
			width: 100%;
			
			display: block;
			
			position: relative;
			top: auto;
		}
	}
}

.rn-site-header-nav-button {
	text-decoration: none; // Removed underlines

	@media #{$tablet-up} {
		display: none; // Hidden by default
	}

	@media #{$mobile-down} {
		color: $white;
		
		text-decoration: none;
		
		padding: $gutter-width / 2;
		
		&.rn-site-navigation-toggle {
			align-items: flex-end; // Justify sass-burger and text right
			display: flex;
			justify-content: flex-end;
			
			.text {
				font-weight: bold;
				text-transform: uppercase;
				
				margin-left: $gutter-width / 2; // Give spacing to the right of sass-burger
			}
		}
		
		&.rn-search-user-toggle,
		&.rn-search-criteria-toggle {
			display: none; // Hide for non-search pages
		}
		
		.rn-site-header-nav-burger {
			@include burger(rem-calc(24), rem-calc(1), rem-calc(7), $white);
		}
		
		&.is-active {
			.rn-site-header-nav-burger {
				@include burger-to-cross;
			}
		}
	}
	
	@media #{$small-only} {
		&.rn-search-user-toggle,
		&.rn-search-criteria-toggle {
			display: block; 
		}
	}
}