// HOME HERO AREA
// - - - - - - - - - - - - - - -

.rn-home-hero-area {
	height: calc(#{rem-calc(550)} + #{$gutter-width});
	
	position: relative;
}

.rn-home-hero-slider {
	box-shadow: 0 4px 8px 0 rgba($secondary-color, 0.75);
	
	.slick-slide {
		background-position: center top;
		border: ($gutter-width / 2) solid $white;
		
		padding-top: rem-calc(550);
	}
	
	.slick-dots {
		@extend .rn-container;
		
		text-align: right;
		
		padding: 0 ($gutter-width / 2);
		
		right: 0;
		bottom: $gutter-width;
		left: 0;
		
		li {
			button:before {
				background: transparent;
				border: 1px solid $white;
				border-radius: 100%;
				color: transparent !important;
				line-height: rem-calc(12) !important;
				
				height: rem-calc(12) !important;
				width: rem-calc(12) !important;
				
				opacity: 1 !important;
			}
			
			&.slick-active button:before {
				background: $white;
				color: $white !important
			}
		}
	}
}

.rn-home-hero-content {
	@extend .rn-container;
	
	height: 100%;
	padding: $gutter-width / 2;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	
	align-items: center;
	display: flex;
	
	@media #{$mobile-down} {
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
}

.rn-home-quick-search {
	background: rgba($black, .6);
	color: $white;
	
	margin: $gutter-width;
	padding: $gutter-width;
	
	h2 {
		font-size: rem-calc(24);
		font-weight: normal;
		text-transform: uppercase;
		
		margin-bottom: $gutter-width / 4;
	}
	
	h5 {
		font-size: rem-calc(14);
		font-style: italic;
		font-weight: normal;
		
		margin: 0;
	}
	
	@media #{$tablet-up} {
		width: 50%;
	}
	
	@media #{$mobile-down} {
		width: 100%;
	}
}

.rn-qsr {
	color: $secondary-color;
	font-family: inherit;
	font-size: rem-calc(14);
	
	margin-top: $gutter-width;
	width: 100%;
	
	form {
		padding: 0;
		width: 100%;
		
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
	
	.rn-qsr-cz {
		margin-bottom: $gutter-width;
		width: 100%;

		display: flex;
		
		float: none;
		
		order: 0;
	}
	
	.rn-qsr-cz-f {
		border: none;
		color: inherit !important; // Needs important to overwrite inline styling
		
		font-size: inherit !important; // Needs important to overwrite inline styling
		text-transform: uppercase;
		
		height: rem-calc(40);
		margin-right: 0;
		padding: $gutter-width / 2;
		width: 100% !important; // Needs important to overwrite inline styling
		
		outline: none;
	}
	
	.rn-qsr-selects {
		margin-right: $gutter-width;
		width: calc(100% - #{rem-calc(96)} - #{$gutter-width}); // Fill form element less the size of the button (96) and padding (16)
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		order: 1;
	}

	.rn-qsr-mn,
	.rn-qsr-mx,
	.rn-qsr-bd,
	.rn-qsr-ba {
		margin-right: 0;
		float: none;
		
		width: calc(50% - (#{$gutter-width} / 2)
	}
	.rn-qsr-bd,
	.rn-qsr-ba {
		margin-bottom: $gutter-width;
	}

	select {
		background-color: $white;
		border: none;
		font-family: inherit;
		font-size: rem-calc(14) !important; // Needs important to overwrite inline styling
		text-transform: uppercase;

		height: rem-calc(40);
		width: 100% !important; // Needs important to overwrite inline styling
		
		outline: none;
	}
	
	.rn-qsr-button {
		background: transparent;
		border: none;
		color: $white;
		font-size: rem-calc(64);
		font-weight: 600;
		line-height: 1;
		
		height: rem-calc(96); // Font size (64px) + gutter-width * 2 (32)
		margin: 0;
		padding: $gutter-width;
		width: rem-calc(96); // Font size (64px) + gutter-width * 2 (32)
		
		align-items: center;
		display: flex;
		order: 2;
		
		transition: $transition;
		
		&:hover {
			background: $secondary-color;
		}
	}
	
	.rn-qsr-clearctr,
	.rn-qsr-label {
		display: none;
	}
}

.rn-home-hero-text {
	color: $white;
	text-shadow: 1px 1px 2px $secondary-color;
	
	padding: $gutter-width;
	
	h1 {
		font-size: rem-calc(52);
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		
		margin: 0;
		
		span {
			font-family: $sans-serif-font;
			font-size: rem-calc(46);
			font-weight: 200;
			text-transform: none;
			
			padding-left: $gutter-width * 2;
			
			display: block;
		}
	}
	
	h4 {
		font-size: rem-calc(25);
		font-style: italic;
		font-weight: normal;
		text-align: right;
	}
	
	@media #{$tablet-up} {
		width: 50%;
	}
	
	@media #{$mobile-down} {
		width: 100%;
	}
	
	@media #{$small-only} {
		h1 {
			font-size: 10vw;
			
			span {
				font-size: 9vw;
			}
		}
		
		h4 {
			font-size: 6vw
		}
	}
}

// HOME CONTENT / SIDEBAR
// - - - - - - - - - - - - - - -

.rn-home-content {
	@extend .rn-container;
	
	margin: $gutter-width auto;
	
	display: flex;
	
	@media #{$mobile-down} {
		flex-wrap: wrap;
	}
}

.rn-home-content-main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	
	@media #{$tablet-up} {
		margin-right: $gutter-width;
	}
	
	@media #{$mobile-down} {
		
	}
}

.rn-home-content-sidebar {
	@media #{$tablet-up} {
		width: rem-calc(250);
	}
	
	@media #{$mobile-down} {
		width: 100%;
	}
}

// HOME AGENTS
// - - - - - - - - - - - - - - -

.rn-home-agents {
	display: flex;
	flex: 0 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	
	@media #{$mobile-down} {
		justify-content: space-around;
	}
}

.rn-home-agent {
	color: $secondary-color;
	text-align: center;
	
	height: rem-calc(350);
	margin-bottom: $gutter-width;
	width: rem-calc(150);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	img {
		@include photo-border();
		
		margin-bottom: $gutter-width;
		width: 100%;
	}
	
	h1 {
		font-size: rem-calc(18);
		font-weight: normal;
		
		margin-bottom: $gutter-width / 4;
	}
	
	p {
		font-size: rem-calc(13);
		font-weight: 400;
		line-height: 1.4;
		
		margin-bottom: 0;
	}
	
	span {
		font-size: rem-calc(13);
	}
	
	hr {
		margin: ($gutter-width / 4) $gutter-width;
	}
	
	a {
		font-family: $serif-font;
		font-size: rem-calc(14);
		text-decoration: none;
		text-transform: uppercase;
	}
}

// HOME FEATURED PROPERTIES
// - - - - - - - - - - - - - - -

.rn-home-featured-properties {
	@include gray-background();
	
	align-content: flex-start;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	justify-content: space-around;
	
	h2 {
		color: $primary-color;
		font-size: rem-calc(20);
		font-weight: normal;
		text-align: center;
		
		width: 100%;
	}
	
	@media #{$tablet-up} {
		padding: $gutter-width * 2;
	}
	
	@media #{$mobile-down} {
		margin-bottom: $gutter-width;
		padding: $gutter-width / 2;
	}
}

.rn-home-featured-property {
	margin-bottom: $gutter-width;
	width: rem-calc(220);
	
	a {
		color: $secondary-color;
		text-decoration: none;
		
		width: 100%;
		
		&:hover {
			button { background: $black}
		}
		
		div {
			@include photo-border();
			
			width: 100%;
			
			&:before {
				content: "";
				display: block;
				padding-top: 75%;
			}
		}
	}
	
	ul {
		font-size: rem-calc(13);
		line-height: 1.4;
		
		margin: 0;
		padding: ($gutter-width / 2) 0;
		
		list-style: none;
	}
	
	li {
		span {
			width: 40%;
			
			display: inline-block;
		}
	}
	
	button {
		border: none;
		color: $white;
		background: $primary-color;
		font-family: $serif-font;
		font-size: rem-calc(12);
		text-transform: uppercase;
		
		margin: 0 auto;
		padding: $gutter-width / 2;
		
		display: block;
	}
}

// HOME CALLOUTS
// - - - - - - - - - - - - - - -

.rn-home-callouts {
	@include gray-background();
}

.rn-home-callout {
	color: $secondary-color;
	text-align: center;
	
	padding: $gutter-width;
	
	h1 {
		font-size: rem-calc(26);
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		
		margin-bottom: 0;
	}
	
	p {
		font-size: rem-calc(13);
		
		margin-bottom: 0;
	}
	
	a {
		font-size: rem-calc(18);
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	}
}
