.rn-interior-content {
	@extend .rn-container;
	
	padding: $gutter-width / 2;

	img { // Respnosive images
	    height: auto;
	    max-width: 100%;
		width: 100%;
	    
	    display: inline-block;
	    vertical-align: middle;
	}
	
	.centered { // Class to center things
		text-align: center;
	}
	
	.flex-video { // Handles responsive videos
	    height: 0;
	    margin-bottom: $gutter-width / 2;
	    padding-bottom: 75%;
	    overflow: hidden;
	    
	    position: relative;
	    
	    iframe,
	    object,
	    embed,
	    video {
		    height: 100%;
		    width: 100%;
		    
		    position: absolute;
		    top: 0;
		    left: 0;
	    }
	}

	// GRID
	
	.rn-row {
		margin-bottom: $gutter-width / 2;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		&.center {
			justify-content: center;
		}
	}
	
	.rn-column {
		padding: $gutter-width;
		
		&.half {
			flex: 0 0 50%;
		}
		
		&.one-third {
			flex: 0 0 33%;
		}
		
		&.two-thirds {
			flex: 0 0 66%;
		}
		
		@media #{$mobile-down} {
			&.half,
			&.one-third,
			&.two-thirds {
				padding: ($gutter-width / 2) 0;

				flex: 1 1 100%;
			}
		}
	}
	
	// FONT STYLING
	
	h1 {
		color: $primary-color;
		font-size: rem-calc(40);
		font-weight: 100;
	}
	
	h2 {
		color: $primary-color;
		font-size: rem-calc(32);
		font-weight: 100;
	}
	
	h3 {
		color: $primary-color;
		font-size: rem-calc(24);
		font-weight: 100;
	}
	
	h4 {
		color: $primary-color;
		font-size: rem-calc(20);
		font-weight: 100;
	}
	
	h5 {
		color: $primary-color;
		font-size: rem-calc(18);
		font-weight: 400;
	}
	
	h6 {
		color: $primary-color;
		font-size: rem-calc(16);
		font-style: italic;
		font-weight: 400;
	}

	p {
		font-size: rem-calc(16);
		line-height: 1.4;
	}
	
	p,
	ul,
	ol,
	span {
		color: $secondary-color;
	}

	a {
		color: $primary-color;
		
		transition: $transition;

		&:hover {
			color: $secondary-color;
		}
	}
	
	.no-bullet {
		margin: 0;
		padding: 0;
		
		list-style: none;
	}
	
	blockquote {
		border: 1px solid $primary-color;
		color: $secondary-color;
		font-size: rem-calc(18);
	}
	
	hr {
		border-color: $secondary-color;
		border-style: solid;
		border-width: 1px 0 0;
		
		margin: $gutter-width auto;
	}
}