// COLORS
// - - - - - - - - - - - - - 

// Champions Elite Alliance

$purple: #552448;
$gray: #797878;
$black: #000000;

$primary-color: $purple;
$secondary-color: $gray;
$tertiary-color: $black;
$quaternary-color: $purple;
