// COLORS
// - - - - - - - - - - - - - 

// BHHS Elite Properties

$tore-gray-dark: #2e2e2e;
$tore-gray-light: #5b5b5b;
$purple: #552448;
$beige: #eeeadf;

$primary-color: $tore-gray-dark;
$secondary-color: $tore-gray-light;
$tertiary-color: $purple;
$quaternary-color: $beige;
