// COLORS
// - - - - - - - - - - - - -

$remax-blue: #00308a;
$remax-red: #ee1c26;
$remax-light-blue: #1593CF;

$primary-color: $remax-blue;
$secondary-color: $remax-red;
$tertiary-color: $remax-light-blue;

$primary-button-color: $secondary-color;

// PARTS
// - - - - - - - - - - - - -

@import 'settings/settings-01';
@import	'crm3';
@import 'parts/header';
@import 'parts/header-nav';
@import 'parts/breadcrumbs';
@import 'parts/content';