// COLORS
// - - - - - - - - - - - - - 

// GRAYSCALE

$black: #000000;
$gray-5: #444444;
$gray-4: #666666;
$gray-3: #999999;
$gray-2: #cccccc;
$gray-1: #eeeeee;
$white: #ffffff;

$gray-dark: $gray-5;
$gray: $gray-4;
$gray-light: $gray-3;
$gray-lighter: $gray-2;
$white-dark: $gray-1;

// SOCIAL

$facebook: #3b5998;
$twitter: #00aced;
$google-plus: #dd4b39;
$linkedin: #007bb5;
$you-tube: #bb0000;
$rss: #ff6600;
$pinterest: #cb2027;