$ld-border: 2px solid $gray-lighter;

$ld-header-height: rem-calc(96);
$ld-header-height-small: rem-calc(176);

$ld-main-sidebar-width: rem-calc(288);
$ld-main-content-width: calc(100% - #{$ld-main-sidebar-width});

// LISTING INLINE 
// - - - - - - - - - - - - - 

.rn-search-listing {
    font-family: $search-font;

  display: block;
  margin: 0 auto;
  max-width: $container-width;
}

// LISTING OVERLAY
// - - - - - - - - - - - - - 

.rn-search-listing-display-overlay {
	background: rgba($black, .6);
	
	height: calc(100% - $search-site-header-height);
	padding: ($gutter-width * 1.5) $gutter-width;
	width: 100%;
	
	position: fixed;
	top: $search-site-header-height;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	
	align-items: center;
	display: flex;
	justify-content: center;
	.rn-search-listing-display-overlay-close {
		display: block;
	}
	#listingPopup {
		height: 100%;
        width: 100%;
        @media #{$mobile-view} {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
	}
	.rn-search-listing {
		height: 100%;
        width: 100%;
		overflow: auto;
	}
	.rn-search-listing-display {
		box-shadow: 0 0 rem-calc(8) 0 rgba($black,.8);
		max-width: rem-calc(1280);
        width: 100%;
	}
	.rn-search-listing-display-content {
		padding: $gutter-width;


		@media #{$medium-up} {
			max-height: calc(100% - #{$ld-header-height} - #{$gutter-width});
			overflow-y: scroll;
		}
	}
}

.rn-search-listing-display {
	background: $white;
	
	height: 100%;
	padding: $gutter-width;
	width: 100%;
	
	overflow: hidden;
	position: relative;

	@media #{$small-only} {
		overflow-y: scroll;
	}
}

// LISTING DISPLAY HEADER
// - - - - - - - - - - - - -

.rn-search-listing-display-header {
	color: $gray;
	
	height: $ld-header-height;
	padding-right: rem-calc(24);
	
	overflow: hidden;
	
	display: flex;
}

.fixed {
	background: white;

	position: fixed;
	top: 0;
	right:0;
	left: 0;

	margin: 0 auto;
	max-width: 1000px;
	padding-top: rem-calc(8);
	z-index: 100;
    @media #{$mobile-view} {
        position: initial;
    }
}

.rn-search-listing-display-details {
	height: 100%;
	width: 50%;
	
	align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.rn-search-listing-display-map-icon {
	margin: 0 $gutter-width / 2;
}

.rn-search-listing-display-details-main {
	margin: 0;
	padding: 0 ($gutter-width / 2);
	
	list-style: none;
	
    flex: 1 1 55%;
	
	li {
        width: 100%;
    }

    .rn-search-listing-display-details-mls,
    .rn-search-listing-display-details-status {
        font-size: rem-calc(12);
        text-transform: uppercase;
    }
}

.rn-search-listing-display-details-headline {
    align-items: flex-start;
    display: flex;

    header {
        display: flex;
    }

	h4 {
		color: inherit;
		font-size: rem-calc(24);
		line-height: 1;
		
		margin: 0;
	}

    a {
        cursor: pointer;
    }

    i {
        color: $gray;
        font-size: $gutter-width * 2;
    }
}

.rn-search-listing-display-mortgage-calculator {
	display: none;
		
	background: $white;
    border: 1px solid $gray;
  	font-size: rem-calc(14);

  	padding: rem-calc(8);	
	position: absolute;
	width: auto;
    z-index: 1;
	#mortgageCalculator {
  		display: flex;

        padding: 0;
        width: 100%;
        #mortgageCalculatorPadding {
            padding: 0;
            width: 100%;
        }
    }
  	#montlyPayment {
    	font-size: rem-calc(16);
    	font-weight: bold;
    	label {
      	font-weight: normal;
      	font-size: rem-calc(14);
    	}
  	}
  	dd, dl {
    	display: flex;
    	flex-direction: column;
    		
    	margin: 0;
    }
  		
  	#Form1 {
    	display: flex;
    	flex-direction: column;
    	#buttonSubmit {
      	background: $primary-color;
      	border: none;
      	color: $white;
      	font-size: rem-calc(14);
      	text-align: center;
      		
      	margin: rem-calc(8);
      	padding: rem-calc(8);
    	}
  	}
		
}

.rn-search-listing-display-details-notice {

}

.rn-search-listing-display-details-mls {

}

.rn-search-listing-display-details-info {
	color: inherit;
	font-size: rem-calc(14);
    font-weight: normal;

    padding: 0 ($gutter-width / 2);
}

.rn-search-listing-display-details-address {

}

.rn-search-listing-display-details-neighborhood {
	text-overflow: ellipsis;
	
	overflow: hidden;
	white-space: nowrap;
	
	a {
		color: $gray;
		font-size: rem-calc(9);
	}
}

.rn-search-listing-display-details-detail {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	display: flex; // Set this element to flex-container so children are inline
    flex: 1 1 45%;
	justify-content: space-around;

	li {
		color: inherit;
		font-size: rem-calc(24);
		font-weight: 700;
		line-height: 1;
		text-align: center; // Styling to center the text

		padding: 0 ($gutter-width / 4); // Set a small version of gutter padding to the left/right

		&.divider {
			border-right: 1px solid $gray-light; // Styling for a dividing border

			padding: 0; // Remove padding set for siblings
		}

		span.label {
			font-size: rem-calc(12); // Decrease font-size for small text
			font-weight: 400;
			text-transform: uppercase; // Styling to uppercase lettering

			display: block; // Push this text to the next line
		}
	}
}

.rn-search-listing-display-details-tags {
	margin: 0;
	padding: rem-calc(2) 0;
	
	list-style: none;
	
	display: flex;
	
	li {
		color: $white;
		font-size: rem-calc(9);
		text-transform: uppercase;
		
		margin-right: rem-calc(4);
		padding: rem-calc(2) rem-calc(6);

        img {
            width: 100%;
        }
	}
}

.rn-search-listing-display-details-actions {
	border-left: 1px solid $gray-lighter;
	
	margin: 0;
	padding: 0;
	width: 50%;
	
	display: flex;
	justify-content: space-around;
	
	a {
		color: $gray;
		font-size: rem-calc(36);
		text-align: center;
		text-decoration: none;
		
		padding: 0 $gutter-width / 2;
		
		flex: 1 1 100%;
	
		&:hover {
			color: $secondary-color;
		}
		
		span {
			font-size: rem-calc(14);
			text-transform: uppercase;
			display: block;
		}
	}
}
.rn-search-listing-display-details-actions-social-container {
    padding: 0 ($gutter-width / 2);
    
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}
.rn-search-listing-display-details-actions-social {
    display: none;

    position: absolute;
    width: rem-calc(240);
    z-index: 10000;

    background: white;
    border: 1px solid $black;

    div {
        padding: $gutter-width / 2;
    }

    ul {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        list-style-type: none;

        margin: 0;
        padding: 0 0 ($gutter-width / 2) 0;
    }
    .rn-ldp-fullinfo-contactinfo-qrcode {
        font-size: $gutter-width;
        
        align-items: center;
        display: flex;
        flex-direction: column;
        #qrCodeContainer {
            padding: 0;

            display: flex;
        }
        .rldp-qrcode {
            padding: 0;

            align-items: center;
            display: flex;
            flex-direction: column;
            .closingX {
                padding: 0;

                align-self: flex-end;
                &::after {
                 color: $black;
                 content: "\e927";
                 font-family: 'RN-Icons';
                 font-size: rem-calc(32);
                }
                &:hover::after {
                    color: $secondary-color;
                }
            }
        }
    }
    #qrCodeContainer {

    }

    #rnSocialClose {
        border-top: 1px solid $gray-1;
        font-size: rem-calc(10);
        text-transform: uppercase;
        
        padding: $gutter-width / 2;
        width: 100%;

        cursor: pointer;
        
        display: flex;
        justify-content: center;
    }
}
.rn-search-listing-display-social-media { display:none; }

.rn-icon-close { /* need style */ }

.rn-search-listing-display-overlay-close {
	display:none;

	background: transparent;
	border: none;
	color: $black;
	font-size: $gutter-width * 3;
	line-height: 1;
	text-align: center;
	
	padding: ($gutter-width / 4) 0;
	
	position: absolute;
	top: 0;
	right: 0;
	
	&:hover {
		color: $secondary-color;
	}
}



// CAROUSEL
// - - - - - - - - - - - - -

.rn-search-listing-display-carousel {
	color: $white;

	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.rn-search-listing-display-carousel-main {
	margin-bottom: 0 !important;

	width: 100%;
	
	.slick-slide {
		text-align: center;
		
		position: relative;
		
		&:after {
			background: linear-gradient(to bottom, rgba($black,0) 0%, rgba($black,0.8) 100%); // Semi-transparent overlay to cover the image from 0 opacity to .8
			
			height: rem-calc(96);
			width: 100%;
			
			content: '';
			position: absolute;
			right: 0;
			bottom: 1px;
			left: 0;
			z-index: 100;
		}

		img {
			border-color: $white;
			border-style: solid;
			border-width: 0 1px 1px 0;
		
			height: calc(70vh - #{$ld-header-height};
			width: auto;
		}

        .slide-caption {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 4px;
            font-size: 0.85rem;
            text-align: justify;
            background-color: rgba(0, 0, 0, 0.4);
            visibility: hidden;

            h5 {
                margin: 0;
                font-size: 1.15rem;
            }
        }
	}
	
	.slick-slide {
		opacity: .3;
		
		&.slick-active {
			opacity: 1;
            
            .slide-caption {
                visibility: visible;
            }
		}
	}
}

.rn-search-listing-display-carousel-small {
	margin-bottom: 0 !important; // Overwrite slick css
	
	img {
		border-color: white;
		border-style: solid;
		border-width: 0 1px 1px 0;

        cursor: pointer;
		
		height: rem-calc(40);
		width: auto;
	}
}

.rn-search-listing-display-carousel-controls {
	margin: 0 auto;
	padding-bottom: 1rem;
	width: rem-calc(160);
	
	display: flex;
	
	position: absolute;
	right: 0;
	bottom: rem-calc(48);
	left: 0;
	
	i {
		font-size: rem-calc(24);
		text-align: center;
		
		padding: $gutter-width / 2;
		
		cursor: pointer;
		
		flex: 1 1 auto;
		
		&.rn-icon-play {
			font-size: rem-calc(36);
			line-height: .6;
			
			padding-right: 0;
		}
	}
}

.rn-search-listing-display-carousel-count {
	font-size: rem-calc(12);
	text-align: center;
	
	margin: 0 auto;
	width: auto;
	
	display: none; // Hide for large screens
	
	position: absolute;
	right: 0;
	bottom: rem-calc(48);
	left: 0;
}

// LISTING DISPLAY CONTENT
// - - - - - - - - - - - - -

.rn-search-listing-display-content {
	color: $gray;
	
	height: 100%;
	padding: 0;
    position: relative;
	margin: 0;
    -ms-overflow-style: scrollbar;
	
	
	a {
		color: $gray;
		
		&:hover {
			color: $secondary-color;
		}
	}
}

// LISTING DISPLAY LOGIN NOTICE
.mlrPreviewBar {
    background: $primary-color;
    color: $white;
    font-size: rem-calc(12);
    padding: $gutter-width / 2;
    a {
        color: $white;
        transition: all 200ms ease-in-out;
        &:hover {
            color: lighten($primary-color, 25%);
        }
    }
}


// MAIN CONTENT
// - - - - - - - - - - - - -
.rn-search-listing-display-content-main {
    border-bottom: $ld-border; 

    display: flex;
}

.rn-search-listing-display-content-main-content {
	padding: ($gutter-width / 2) ($gutter-width / 2) ($gutter-width / 2) 0; // Spacing to the right for wide screens

    width: 75%;

	.rn-search-listing-display-content-open-house-heading {
		margin: 0 0 ($gutter-width / 2);
		
		span {
			font-weight: 100;
		}
	}
}

.rn-search-listing-display-content-details {
	padding: 0 ($gutter-width / 2) ($gutter-width / 2) 0;
	
    h2 {
        font-weight: bold;
        margin-bottom: 0;
    }

	p,
	.infoCourtesyOf {
		font-size: rem-calc(12);
		line-height: 2;
		text-align: justify;
	}
}

.rn-search-listing-display-content-details-header {
	position: relative;
	display: flex;
	justify-content: space-around;
	
	> div {
		padding-right: $gutter-width / 2;
	}
	
	.rn-search-listing-display-content-details-price {
		line-height: 1;
		margin: 0;
	}
	
	.rn-search-listing-display-details-status {
		font-size: rem-calc(12);
		
		display: block;
	}

}

.rn-search-listing-display-content-details-data {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	display: flex; // Set this element to flex-container so children are inline
	justify-content: space-around;

	li {
		color: inherit;
		font-size: rem-calc(20);
		font-weight: 700;
		line-height: 1;
		text-align: center; // Styling to center the text

		padding: $gutter-width / 2; // Full gutter-width for large displays

		&.divider {
		    border-right: 1px solid $gray-light; // Styling for a dividing border
	
		    padding: 0; // Remove padding set for siblings
            
            &:last-child {
                display: none;
            }
	    }

		span.label {
			font-size: rem-calc(10); // Decrease font-size for small text
			font-weight: 400;
			text-transform: uppercase; // Styling to uppercase lettering

			display: block; // Push this text to the next line
		}
	}

}

.rn-search-listing-display-feature-list {
    display: none;

	margin: 0 0 $gutter-width;
	padding: 0;
	
	list-style: none;

    &:first-of-type {
        display: block;
    }
	
	li {
		margin: 0;
		padding: $gutter-width / 4;

        display: flex;
		
		span {
			font-size: rem-calc(12);
			
			&:first-child {
				font-weight: bold;
                text-transform: uppercase;

                width: 25%;
			}
            &.value {
                width: 75%;
            }
		}
	}
}

.rn-search-listing-display-disclaimer {
	font-size: rem-calc(10);
	
	span {
		font-size: rem-calc(12);
		
		margin-bottom: $gutter-width / 4;
		
		display: block;
	}
}

// SIDEBAR
// - - - - - - - - - - - - -

.rn-search-listing-display-content-main-sidebar {
	padding-top: $gutter-width / 2;
	padding-left: $gutter-width / 2; // Spacing for wide screens

    width: 25%;
}

.rn-search-listing-display-content-question {
	h3 {
		margin: ($gutter-width / 2) 0;
	}	
	
	input,
	textarea {
		font-size: rem-calc(12);
		
		width: 100%;
	}
	
	input {
		margin-bottom: $gutter-width / 2;
		
		&[type="button"] {
			background: $primary-color;
			border: none;
			color: $white;
			font-size: rem-calc(13);
			font-weight: 600;
			text-transform: uppercase;
			
			padding: $gutter-width / 2;
			
			&:hover {
				background: $secondary-color;
			}
		}
	}
	
	textarea {
		height: rem-calc(144);
	}
    
    .rn-ldp-request-form-terms {
        font-size: rem-calc(12);

        padding: ($gutter-width / 4) 0 $gutter-width;

        align-items: center;
        display: flex;
        input {
            margin-bottom: 0;
            margin-right: $gutter-width / 2;
            width: auto;
        }
    }
}

// FEATURES
// - - - - - - - - - - - - -
.rn-search-listing-display-content-main-features {
    margin-top: $gutter-width / 2;

	position: relative; // For blur form to position absolutely;
	
	h4 {
		background: $gray-1;
        border: 1px solid $gray;
        margin: 0 0 ($gutter-width / 2);
        padding: $gutter-width / 2;

        display: flex;
        justify-content: space-between;

        cursor: pointer;

        i {
            transition: $transition;
        }
        
        &.open {
            .rn-icon-angle-down-big {
                transform: rotate(180deg);
            }
        }
        
	}
}

.rn-search-listing-display-content-zillow-reviews {
    width: 100%;
    margin-top: ($gutter-width / 2);

    display: flex;
    flex-wrap: wrap;

    visibility: hidden;

    i {
        width: rem-calc(104);
        height: rem-calc(20);

        background-image: url(http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/ratings_stars.gif);

        &[data-rating="4.75"] {
            background-position-y: rem-calc(-20);
        }

        &[data-rating="4.5"] {
            background-position-y: rem-calc(-40);
        }

        &[data-rating="4.25"] {
            background-position-y: rem-calc(-60);
        }

        &[data-rating="4.0"] {
            background-position-y: rem-calc(-80);
        }

        &[data-rating="3.75"] {
            background-position-y: rem-calc(-100);
        }

        &[data-rating="3.5"] {
            background-position-y: rem-calc(-120);
        }

        &[data-rating="3.25"] {
            background-position-y: rem-calc(-140);
        }

        &[data-rating="3.0"] {
            background-position-y: rem-calc(-160);
        }

        &[data-rating="2.75"] {
            background-position-y: rem-calc(-180);
        }

        &[data-rating="2.5"] {
            background-position-y: rem-calc(-200);
        }

        &[data-rating="2.25"] {
            background-position-y: rem-calc(-220);
        }

        &[data-rating="2.0"] {
            background-position-y: rem-calc(-240);
        }

        &[data-rating="1.75"] {
            background-position-y: rem-calc(-260);
        }

        &[data-rating="1.5"] {
            background-position-y: rem-calc(-280);
        }

        &[data-rating="1.25"] {
            background-position-y: rem-calc(-300);
        }

        &[data-rating="1.0"] {
            background-position-y: rem-calc(-320);
        }

        &[data-rating="0.75"] {
            background-position-y: rem-calc(-340);
        }

        &[data-rating="0.5"] {
            background-position-y: rem-calc(-360);
        }

        &[data-rating="0.25"] {
            background-position-y: rem-calc(-380);
        }

        &[data-rating="0.0"] {
            background-position-y: rem-calc(-400);
        }
    }
}

// AGENT INFO
.rn-search-listing-display-content-agent-info-container {
    margin-right: $gutter-width / 2;
    width: 100%;
}

.rn-search-listing-display-content-agent-info {
	width: 100%;
	
	align-items: flex-start;
    display: flex;
    img {
        height: auto;
        margin-right: $gutter-width / 2;

        flex: 1 1 35%;
    }
    div {
        flex: 1 1 65%;
    }
	
	h3,
	h5 {
		margin: 0;
	}
	
	h5 {
		font-weight: 400;
	}
    a {
        text-decoration: none;
    }
}

.rn-search-listing-display-content-agent-photo {
	border: 1px solid $gray-lighter;
	
	height: rem-calc(150);
	margin-right: $gutter-width / 2;
	width: rem-calc(100);
	
	flex: 0 1 rem-calc(100);
}

.rn-search-listing-display-content-agent-contact {
	font-size: rem-calc(12);
	
	margin: ($gutter-width / 2 ) 0;
	padding: 0;
	
	flex: 1 1 auto;
	
	a {
		display: block;
	}
}

// SECONDARY CONTENT

.rn-search-listing-display-content-secondary {
	border-bottom: $ld-border;
	
	margin: 0;
	padding: $gutter-width 0;

    position: relative; // For min/max blur form to position absolutely
	
	display: flex;
    flex-direction: column;

    &.floor-plans {
        .rn-search-listing-display-content-floor-plans-photos {
            display: flex;
            flex-wrap: wrap;
            img {
                height: 100%;
                width: 100%;
            }
        }

    }

    &.days-on-market {
        ul {
            list-style-type: none;

            margin: 0;
            padding: 0;
        }
    }

    &.map {
        &.rn-search-listing-display-blur {
            height: 100%;

            flex-wrap: nowrap;
            form {
                max-height: $gutter-width * 6;
            }
        }
        .listingmap-accuracybar {
            font-size: rem-calc(12);
        }
    }

    &.agent-info {
        flex-direction: row;
    }

    &.listing-documents {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li {
                align-items: center;
                display: flex;
                flex: 1 1 33%;
                @media #{$small-only} {
                    flex: 1 1 100%;
                }
                img {
                    margin-right: $gutter-width / 4;
                    width: rem-calc(24);
                }
                a {
                    font-size: rem-calc(12);
                    text-decoration: none;
                }
            }
        }
    }

	&.home-value {

			.homevaluation {
			    display: none;

                overflow: auto !important;
			}
			.rn-search-listing-display-home-value-button {
				align-self: center;

				background: $primary-color;
				color: $white;
				font-size: rem-calc(20);
				text-decoration: none;

				padding: rem-calc(8);
				transition: all 200ms ease-in-out;
				&:hover {
					background: lighten($primary-color, 10%);
				}
			}
	}

    &.demographics {
        .demographics-content,
        .schools-content {
            display: none;
        }

        h2 {
            background: $gray-1;
            border: 1px solid $gray;
            font-size: $gutter-width * 1.5;
            padding: $gutter-width / 2;

            display: flex;
            justify-content: space-between;

            cursor: pointer;
            i {
                transition: $transition;
            }
        
            &.open,
            &.opened {
                .rn-icon-angle-down-big {
                    transform: rotate(180deg);
                }
            }

        }

        p {
            font-size: rem-calc(12);
            margin: 0;
        }
        .rn-ldp-fullinfo-detailed {
            width: 100%;
        }
        .rn-ldp-fullinfo-detailed-nav {
            display:none;
        }
        h4 {
            margin: 0;
        }
       .rn-ldp-demographics-household {
            display: flex;
            list-style-type: none;

            margin: 0;
            padding: 0;
            li {
                align-self: center;
                flex: 1 1 100%;

                padding: $gutter-width;

                dl {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;

                    font-size: rem-calc(14);

                    margin: 0;
                    padding: $gutter-width/4;

                    dt, dd {
                        width: 30%;
                    }
                }
            }
        }
       .rn-ldp-demographics-ageRange {
           padding: $gutter-width;
           dl {
               display: flex;
               flex-wrap: wrap;

               font-size: rem-calc(12);
               margin: 0;
               padding-bottom: $gutter-width/4;
               dt {
                   width: 100%;
               }
               div {
                   background: $primary-color;
                   height: $gutter-width;
               }
           }

       }

       .schools {
           font-size: rem-calc(12);
           ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
           }
           .schools-school {
               .schools-school-name, .schools-school-address, .schools-school-phone, .schools-school-grades {
                   font-size: rem-calc(16);
                   margin-top: rem-calc(32);
                   @media #{$mobile-only} {
                                        margin: 0;
                                    }
               }
               .schools-school-name {
                   font-weight: bold;
                   @media #{$mobile-only} {
                                        margin-top: rem-calc(32);
                                    }
               }

               li {
                   &:nth-child(odd) {
                       display: flex;
                       flex-wrap: wrap;
                       justify-content: space-between;

                       margin-bottom: $gutter-width/2;
                   }
                   &:nth-child(even) {
                       display: flex;
                       justify-content: space-between;

                       flex-wrap: wrap;
                       dl {
                           flex: 1 1 auto;

                           background: $white-dark;

                           margin: 0;
                           padding: rem-calc(8);
                           ul li {
                               display: block;
                               .graphbarcolor1, .graphbarcolor2 {
                                   height: $gutter-width;
                                   margin-right: $gutter-width/4;
                               }
                               .graphbarcolor1 {
                                   background: $primary-color;
                               }
                               .graphbarcolor2 {
                                   background: $secondary-color;
                               }
                           }
                           dd ul {
                               display: flex;
                               li:nth-child(1) {
                                   flex: 1 1 10%;
                               }
                               li:nth-child(2) {
                                   display: flex;
                                   flex: 1 1 90%;
                                   justify-content: flex-start;
                               }
                           }
                       }
                   }
                   .schools-school-detail {
                       flex: 1 1 auto;

                       background: $white-dark;

                       padding: rem-calc(8);
                       li {
                           display: block;
                           margin: 0;
                       }
                   }
                   .schools-school-district-detail {
                       flex: 1 1 100%;
                       background: $white-dark;

                       margin-top: $gutter-width/2;
                        padding: $gutter-width/2;
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                  }
               }
           }
       }
       .onmarket {
           position: relative;
           .rn-search-listing-display-blur {
               min-height: $gutter-width * 8;
           }
           ul {
               align-items: center;
               display: flex;
               justify-content: space-between;

               list-style-type: none;

               margin: 0;
               padding: 0;
               li {
                   flex: 1 1 50%;
               }
               a {
                   color: $primary-color;
                   text-decoration: none;
                   transition: all 200ms ease-in-out;
                   &:hover {
                       color: lighten($primary-color, 10%);
                   }
               }
           }
       }
    }
}

.rn-search-listing-display-content-history,
.rn-search-listing-display-content-open-houses {
	flex: 1 1 50%;

	margin: 0;
	padding: 0;
	
	
	ul {

		padding: $gutter-width / 2;
		
		list-style: none;
		
		li {			
			margin-bottom: $gutter-width;
			
			display: flex;
			justify-content: space-between;
			
			span {
				text-align: left;
			}
		}
	}
}

.rn-search-listing-display-content-history {	
	ul {
        max-width: rem-calc(500);
		li {
			span {
				flex: 0 0 calc(100% / 3);
				
				&:last-child {
					font-weight: bold;
					text-align: right;
				}
			}
		}
	}
    &.open-house {
        text-align: center;
        ul {
            margin: 0 auto;
            max-width: rem-calc(360);
        }
    }
}

.rn-search-listing-display-content-open-houses {
    text-align: center;

	border-left: $ld-border;
    @media #{$small-only} {
        border-top: $ld-border;
        border-left: none;
    }
	ul {
        margin: 0 auto;
        max-width: rem-calc(360);
		li {
			flex-wrap: wrap;
			
			span {
				font-weight: bold;
				
				flex: 0 0 calc(100% / 2);
				
				&:nth-child(2) {
					text-align: right;
				}
				&:last-child {
					font-weight: normal;
					
					flex:  0 0 100%;
					
					display: block;
				}
			}
		}
	}
}

.rn-search-listing-display-content-video {
    width: 100%;

    display: flex;
    justify-content: center;
}

.rn-search-listing-display-content-maps {
	margin: 0;
	padding-bottom: $gutter-width / 2;
	width: 100%;
}

.rn-search-listing-display-content-maps-links {
	background: $gray;
	
	margin: 0;
	padding: 0 ($gutter-width / 2);
	width: 100%;
	
	list-style: none;
	
	display: flex;
	
	li {
		font-size: rem-calc(12);
		
		&:last-child {
			text-align: right;
			
			flex-grow: 1;
			
			a {
				width: auto;
			}
		}
		
		a {
			color: $white;
			text-decoration: none;
			
			padding: $gutter-width / 2;
			width: 100%;
			
			display: inline-block;
			
			&.active {
				text-decoration: underline;
			}
		}
	}
}

#listingmap {
	height: rem-calc(320);
}

// LISTING DISPLAY MIN/MAX BLUR
.rn-search-listing-display-blur {

    .rn-search-listing-display-carousel-main {
        img {
            margin: 0 auto;
        }
    }
    .rn-search-listing-display-carousel-small {
        display: none;
    }

    .rn-search-listing-display-feature-list {
        &:first-of-type {
            display: none;
        }
    }

}

.rn-search-listing-display-blur-form {
    color: $gray-dark;
    font-size: $gutter-width;

    background: $gray-2;
    height: $gutter-width * 6;
    margin-bottom: $gutter-width;
    padding: $gutter-width;
    width: 100%;
    
    align-items: center;
    display: flex; 
    flex: 1 1 100%;
    flex-direction: column;
    button {
        background: $primary-color;
        border: none;
        color: $white;
        font-size: rem-calc(14);

        margin: rem-calc(4 0);
        padding: $gutter-width / 2;

        align-items: center;
        display: flex;

        transition: $transition;
        &:hover {
            background: lighten($primary-color, 10%);
        }
    }
    @media #{$small-only} {
        font-size: rem-calc(12);
        text-align: center;
        button {
            font-size: rem-calc(12);
            margin: 0;
        }
    }
}

.rn-search-listing-display-carousel {
    .rn-search-listing-display-blur-form {
        position: absolute;
        left: 0;
        right: 0;
        bottom: $gutter-width;
    }
}

.rn-search-listing-display-content-main-features {
    .rn-search-listing-display-blur-form {

    }
}

.no-flexboxlegacy {
/* IE10+ CSS styles go here */
    .rn-search-listing-display-details-main {
        flex: 0 1 50%;
    }
    .rn-search-listing-display-details-detail {
        flex: 0 1 45%;
    }

    .rn-search-listing-display-content-agent-info {
        img {
            display: block;
        }
    }

}

// MEDIA QUERIES
// - - - - - - - - - - - - - 

@media #{$medium-only} {
	// LISTING DISPLAY HEADER
	
	.rn-search-listing-display-header {
		justify-content: space-between;
	}
	
	.rn-search-listing-display-details {
		width: auto;
		
        flex: 1 1 auto;
	}
	
	.rn-search-listing-display-details-headline {
		h4 {
			font-size: rem-calc(18);
		}
	}
	
	.rn-search-listing-display-details-secondary {
		width: auto;
		
        flex: 1 1 auto;
	}
	
	.rn-search-listing-display-details-detail {
		
		li {
			font-size: rem-calc(18);
			text-align: left;
			
			padding: 0 ($gutter-width / 2);
			
			&:first-child {
				padding-left: 0;
			}
			
			span.label {
				font-size: rem-calc(16);
				text-transform: none;
				
				display: inline-block;
				
				&:before {
					content: '\00a0 ';
				}
			}
		}
	}
	
	.rn-search-listing-display-details-actions {
		border: none;
		
		width: auto;
		
		align-content: space-between;
        flex: 1 1 auto;
		flex-wrap: wrap;
		justify-content: center;
		
		a {
			font-size: rem-calc(28);
			
			padding: 0 $gutter-width / 4;
			
			flex: 0 1 auto;
			
			span {
				display: none;
			}
		}
	}

    .rn-search-listing-display-details-actions-social {
        right: $gutter-width;
	}

    .rn-search-listing-display-details-actions-social-container {
        padding: 0 ($gutter-width / 4);
        flex: 0 1 auto;
    }

	
	
	
	// MAIN CONTENT


	.rn-search-listing-display-feature-list {		

	}
}

@media #{$small-only} {
	.rn-search-listing-display-overlay {
		height: 100%;
		padding: 0;
		
        position: absolute;
		top: 0;
	}
	
	.rn-search-listing-display {
		padding: $gutter-width / 2;
	}
	
	// LISTING DISPLAY HEADER
	
	.rn-search-listing-display-header {
		height: $ld-header-height-small;
		padding-right: 0;
		
		flex-wrap: wrap;
	}
	
	.rn-search-listing-display-details,
	.rn-search-listing-display-details-secondary,
	.rn-search-listing-display-details-actions {
		height: auto;
		width: 100%;
		
		flex: 0 0 100%;
	}
	
	.rn-search-listing-display-details-main {
		padding: 0;
        li {
            align-items: center;
        }
	}

    .rn-search-listing-display-content-main-features {
        width: 100%;
    }
	
	.rn-search-listing-display-details-headline {
		h4 {
			font-size: rem-calc(18);
			line-height: inherit;
		}
        .rn-search-listing-display-map-icon {
            margin-left: 0;
        }
	}

    .rn-search-listing-display-mortgage-calculator {
        top: rem-calc(46);
        left: 0;
        right: 0;
    }
	
    .rn-search-listing-display-details-info {
        font-size: rem-calc(14);

        margin-bottom: 0;
        padding:0;
    }

	.rn-search-listing-display-details-address {
		font-size: rem-calc(14);
	}
	
	.rn-search-listing-display-details-neighborhood,
	.rn-search-listing-display-details-tags {
		display: none;
	}
	
	.rn-search-listing-display-details-detail {
		flex: 1 1 100%;
        justify-content: flex-start;
		
		li {
			font-size: rem-calc(14);
			text-align: left;
			
			padding: 0 ($gutter-width / 2);
			
			&:first-child {
				padding-left: 0;
			}
			
			span.label {
				font-size: inherit;
				text-transform: none;
				
				display: inline-block;
				
				&:before {
					content: '\00a0 ';
				}
			}
		}
	}
	
	.rn-search-listing-display-details-notice {
		font-size: rem-calc(10);
	}
	
	.rn-search-listing-display-details-actions {
		border: none;
		
        align-self: flex-end;

		a {
			padding: $gutter-width / 4;
			
			span {
				display: none;
			}
		}
	}
	
	// LISTING DISPLAY CONTENT
	
	.rn-search-listing-display-content {
		max-height: calc(100% - #{$ld-header-height-small} - #{$gutter-width});
	}
	
	// CAROUSEL
	
	.rn-search-listing-display-carousel-main {
		.slick-slide {
			img {
				height: auto;
				width: 100%;
			}
            &.slick-active .slide-caption {
                visibility: hidden;
            }
		}
	}
	
	.rn-search-listing-display-carousel-controls {
		display: none; // Hide for small
	}
	
	.rn-search-listing-display-carousel-count {
		display: block;
	}
	
	// MAIN CONTENT

    .rn-search-listing-display-content-main {
        flex-wrap: wrap;

        margin-bottom: $gutter-width;
    }

	.rn-search-listing-display-content-main-content {
		
		
		padding: 0; // Remove padding for small screens
		margin: ($gutter-width / 2) 0 $gutter-width;
		
		flex: 0 0 100%;
		
		.rn-search-listing-display-content-open-house-heading {
			font-size: rem-calc(20);
		}
	}
	
	.rn-search-listing-display-content-details {
		padding: 0; // Remove padding for small screens
	}
	
	.rn-search-listing-display-content-details-header {
		flex-wrap: wrap;
		
		div {
			padding-right: 0; // Remove padding
			width: 100%;
		}
		
		.rn-search-listing-display-content-details-price {
			font-size: rem-calc(32);
			
			margin: ($gutter-width / 2) 0 0;
		}
		
		.rn-search-listing-display-content-details-calc-link {
		}
		
		.rn-search-listing-display-details-status {
		}
		
		.rn-search-listing-display-details-mls {
		}
	}
	
	.rn-search-listing-display-content-details-data {
		margin: ($gutter-width / 2) 0;
		
		flex-wrap: wrap;
        justify-content: flex-start;

	
		li {
			font-size: rem-calc(16);
			text-align: left;
	
			padding: $gutter-width / 4;
	
			&.divider {
				display: none;
			}
	
			span.label {
				font-size: rem-calc(12); // Decrease font-size for small text
				text-transform: none;
				
				padding-left: $gutter-width / 4;
	
				display: inline-block;
			}
		}
	}

	.rn-search-listing-display-feature-list {		
		&:first-of-type {
            display: none;
		}
        li {
		    span {
			    &:first-child {
                    width: 50%;
			    }
                &.value {
                    width: 50%;
                }
		    }
	    }
	}

	// SIDEBAR

	.rn-search-listing-display-content-main-sidebar {
		
		margin-bottom: $gutter-width;
		padding-top: 0;
		padding-bottom: $gutter-width / 2;
		padding-left: 0; // Remove padding for small screens
        width: 100%;
		
	}
	
	// SECONDARY CONTENT
	
	.rn-search-listing-display-content-secondary {
		margin-bottom: $gutter-width;
		padding: 0;
		
		flex-wrap: wrap;

        &.days-on-market {
            ul {
                margin-bottom: $gutter-width / 2;
                li {
                    margin-bottom: $gutter-width / 2;
                }
            }
        }
	}
	
	.rn-search-listing-display-content-history,
	.rn-search-listing-display-content-open-houses {
		width: 100%;
		
		ul {
			max-width: 100%;
			padding: 0;
		}
	}
	
	.rn-search-listing-display-content-history {
		border-right: none;
	}
}
