@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300);
@font-face {
  font-family: 'RN-Icons';
  src: url("../fonts/RN-Icons.ttf?c4danl") format("truetype"), url("../fonts/RN-Icons.woff?c4danl") format("woff"), url("../fonts/RN-Icons.svg?c4danl#RN-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  font-family: 'RN-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.rn-icon-user-solid:before {
  content: "\e9ca"; }

.rn-icon-add-user:before {
  content: "\e900"; }

.rn-icon-airplay:before {
  content: "\e901"; }

.rn-icon-alarm:before {
  content: "\e902"; }

.rn-icon-album:before {
  content: "\e903"; }

.rn-icon-albums:before {
  content: "\e904"; }

.rn-icon-anchor:before {
  content: "\e905"; }

.rn-icon-angle-down-circle:before {
  content: "\e906"; }

.rn-icon-angle-down-big:before {
  content: "\e9d1"; }

.rn-icon-angle-down-medium:before {
  content: "\e9d7"; }

.rn-icon-angle-down:before {
  content: "\e907"; }

.rn-icon-angle-left-circle:before {
  content: "\e908"; }

.rn-icon-angle-left-big:before {
  content: "\e9d2"; }

.rn-icon-angle-left-medium:before {
  content: "\e9d8"; }

.rn-icon-angle-left:before {
  content: "\e909"; }

.rn-icon-angle-right-circle:before {
  content: "\e90a"; }

.rn-icon-angle-right-big:before {
  content: "\e9d3"; }

.rn-icon-angle-right-medium:before {
  content: "\e9d9"; }

.rn-icon-angle-right:before {
  content: "\e90b"; }

.rn-icon-angle-up-circle:before {
  content: "\e90c"; }

.rn-icon-angle-up-big:before {
  content: "\e9d4"; }

.rn-icon-angle-up-medium:before {
  content: "\e9da"; }

.rn-icon-angle-up:before {
  content: "\e90d"; }

.rn-icon-arc:before {
  content: "\e90e"; }

.rn-icon-attention:before {
  content: "\e90f"; }

.rn-icon-back-2:before {
  content: "\e910"; }

.rn-icon-back:before {
  content: "\e911"; }

.rn-icon-ball:before {
  content: "\e912"; }

.rn-icon-bandaid:before {
  content: "\e913"; }

.rn-icon-battery:before {
  content: "\e914"; }

.rn-icon-bell:before {
  content: "\e915"; }

.rn-icon-bicycle:before {
  content: "\e916"; }

.rn-icon-bluetooth:before {
  content: "\e917"; }

.rn-icon-bookmarks:before {
  content: "\e918"; }

.rn-icon-bottom-arrow:before {
  content: "\e919"; }

.rn-icon-box1:before {
  content: "\e91a"; }

.rn-icon-box2:before {
  content: "\e91b"; }

.rn-icon-browser:before {
  content: "\e91c"; }

.rn-icon-calculator:before {
  content: "\e91d"; }

.rn-icon-call:before {
  content: "\e91e"; }

.rn-icon-camera:before {
  content: "\e91f"; }

.rn-icon-car:before {
  content: "\e920"; }

.rn-icon-cart:before {
  content: "\e921"; }

.rn-icon-cash:before {
  content: "\e922"; }

.rn-icon-chat:before {
  content: "\e923"; }

.rn-icon-check:before {
  content: "\e924"; }

.rn-icon-clock:before {
  content: "\e925"; }

.rn-icon-close-circle:before {
  content: "\e926"; }

.rn-icon-close:before {
  content: "\e927"; }

.rn-icon-cloud-download:before {
  content: "\e928"; }

.rn-icon-cloud-upload:before {
  content: "\e929"; }

.rn-icon-cloud:before {
  content: "\e92a"; }

.rn-icon-coffee:before {
  content: "\e92b"; }

.rn-icon-comment:before {
  content: "\e92c"; }

.rn-icon-compass:before {
  content: "\e92d"; }

.rn-icon-config:before {
  content: "\e92e"; }

.rn-icon-copy-file:before {
  content: "\e92f"; }

.rn-icon-credit:before {
  content: "\e930"; }

.rn-icon-crop:before {
  content: "\e931"; }

.rn-icon-culture:before {
  content: "\e932"; }

.rn-icon-cup:before {
  content: "\e933"; }

.rn-icon-date:before {
  content: "\e934"; }

.rn-icon-delete-user:before {
  content: "\e935"; }

.rn-icon-diamond:before {
  content: "\e936"; }

.rn-icon-disk:before {
  content: "\e937"; }

.rn-icon-diskette:before {
  content: "\e938"; }

.rn-icon-display1:before {
  content: "\e939"; }

.rn-icon-display2:before {
  content: "\e93a"; }

.rn-icon-door-lock:before {
  content: "\e93b"; }

.rn-icon-download:before {
  content: "\e93c"; }

.rn-icon-drawer:before {
  content: "\e93d"; }

.rn-icon-drop:before {
  content: "\e93e"; }

.rn-icon-edit:before {
  content: "\e93f"; }

.rn-icon-exapnd2:before {
  content: "\e940"; }

.rn-icon-expand1:before {
  content: "\e941"; }

.rn-icon-eyedropper:before {
  content: "\e942"; }

.rn-icon-female:before {
  content: "\e943"; }

.rn-icon-file:before {
  content: "\e944"; }

.rn-icon-film:before {
  content: "\e945"; }

.rn-icon-filter:before {
  content: "\e946"; }

.rn-icon-flag:before {
  content: "\e947"; }

.rn-icon-folder:before {
  content: "\e948"; }

.rn-icon-gift:before {
  content: "\e949"; }

.rn-icon-glasses:before {
  content: "\e94a"; }

.rn-icon-gleam:before {
  content: "\e94b"; }

.rn-icon-global:before {
  content: "\e94c"; }

.rn-icon-graph:before {
  content: "\e94d"; }

.rn-icon-graph1:before {
  content: "\e94e"; }

.rn-icon-graph2:before {
  content: "\e94f"; }

.rn-icon-graph3:before {
  content: "\e950"; }

.rn-icon-gym:before {
  content: "\e951"; }

.rn-icon-hammer:before {
  content: "\e952"; }

.rn-icon-headphones:before {
  content: "\e953"; }

.rn-icon-helm:before {
  content: "\e954"; }

.rn-icon-help1:before {
  content: "\e955"; }

.rn-icon-help2:before {
  content: "\e956"; }

.rn-icon-home:before {
  content: "\e957"; }

.rn-icon-hourglass:before {
  content: "\e958"; }

.rn-icon-id:before {
  content: "\e959"; }

.rn-icon-info:before {
  content: "\e95a"; }

.rn-icon-joy:before {
  content: "\e95b"; }

.rn-icon-junk:before {
  content: "\e95c"; }

.rn-icon-key:before {
  content: "\e95d"; }

.rn-icon-keypad:before {
  content: "\e95e"; }

.rn-icon-leaf:before {
  content: "\e95f"; }

.rn-icon-left-arrow:before {
  content: "\e960"; }

.rn-icon-less:before {
  content: "\e961"; }

.rn-icon-light:before {
  content: "\e962"; }

.rn-icon-like:before {
  content: "\e963"; }

.rn-icon-like2:before {
  content: "\e964"; }

.rn-icon-link:before {
  content: "\e965"; }

.rn-icon-lintern:before {
  content: "\e966"; }

.rn-icon-lock:before {
  content: "\e967"; }

.rn-icon-look:before {
  content: "\e968"; }

.rn-icon-loop:before {
  content: "\e969"; }

.rn-icon-magic-wand:before {
  content: "\e96a"; }

.rn-icon-magnet:before {
  content: "\e96b"; }

.rn-icon-mail-open-file:before {
  content: "\e96c"; }

.rn-icon-mail-open:before {
  content: "\e96d"; }

.rn-icon-mail:before {
  content: "\e96e"; }

.rn-icon-male:before {
  content: "\e96f"; }

.rn-icon-map-2:before {
  content: "\e970"; }

.rn-icon-map-marker:before {
  content: "\e971"; }

.rn-icon-map:before {
  content: "\e972"; }

.rn-icon-medal:before {
  content: "\e973"; }

.rn-icon-pause:before {
  content: "\e9d6"; }

.rn-icon-menu:before {
  content: "\e974"; }

.rn-icon-micro:before {
  content: "\e975"; }

.rn-icon-monitor:before {
  content: "\e976"; }

.rn-icon-moon:before {
  content: "\e977"; }

.rn-icon-more:before {
  content: "\e978"; }

.rn-icon-mouse:before {
  content: "\e979"; }

.rn-icon-music:before {
  content: "\e97a"; }

.rn-icon-musiclist:before {
  content: "\e97b"; }

.rn-icon-mute:before {
  content: "\e97c"; }

.rn-icon-network:before {
  content: "\e97d"; }

.rn-icon-news-paper:before {
  content: "\e97e"; }

.rn-icon-next-2:before {
  content: "\e97f"; }

.rn-icon-next:before {
  content: "\e980"; }

.rn-icon-note:before {
  content: "\e981"; }

.rn-icon-note2:before {
  content: "\e982"; }

.rn-icon-notebook:before {
  content: "\e983"; }

.rn-icon-paint-bucket:before {
  content: "\e984"; }

.rn-icon-paint:before {
  content: "\e985"; }

.rn-icon-paper-plane:before {
  content: "\e986"; }

.rn-icon-paperclip:before {
  content: "\e987"; }

.rn-icon-pen:before {
  content: "\e988"; }

.rn-icon-pendrive:before {
  content: "\e989"; }

.rn-icon-phone:before {
  content: "\e98a"; }

.rn-icon-photo-gallery:before {
  content: "\e98b"; }

.rn-icon-photo:before {
  content: "\e98c"; }

.rn-icon-piggy:before {
  content: "\e98d"; }

.rn-icon-pin:before {
  content: "\e98e"; }

.rn-icon-plane:before {
  content: "\e98f"; }

.rn-icon-play:before {
  content: "\e990"; }

.rn-icon-plug:before {
  content: "\e991"; }

.rn-icon-plugin:before {
  content: "\e992"; }

.rn-icon-plus:before {
  content: "\e993"; }

.rn-icon-portfolio:before {
  content: "\e994"; }

.rn-icon-power:before {
  content: "\e995"; }

.rn-icon-prev:before {
  content: "\e996"; }

.rn-icon-print:before {
  content: "\e997"; }

.rn-icon-radio:before {
  content: "\e998"; }

.rn-icon-refresh-2:before {
  content: "\e999"; }

.rn-icon-refresh-cloud:before {
  content: "\e99a"; }

.rn-icon-refresh:before {
  content: "\e99b"; }

.rn-icon-repeat:before {
  content: "\e99c"; }

.rn-icon-ribbon:before {
  content: "\e99d"; }

.rn-icon-right-arrow:before {
  content: "\e99e"; }

.rn-icon-rocket:before {
  content: "\e99f"; }

.rn-icon-safe:before {
  content: "\e9a0"; }

.rn-icon-science:before {
  content: "\e9a1"; }

.rn-icon-scissors:before {
  content: "\e9a2"; }

.rn-icon-search:before {
  content: "\e9a3"; }

.rn-icon-server:before {
  content: "\e9a4"; }

.rn-icon-settings:before {
  content: "\e9a5"; }

.rn-icon-share:before {
  content: "\e9a6"; }

.rn-icon-shield:before {
  content: "\e9a7"; }

.rn-icon-shopbag:before {
  content: "\e9a8"; }

.rn-icon-shuffle:before {
  content: "\e9a9"; }

.rn-icon-signal:before {
  content: "\e9aa"; }

.rn-icon-smile:before {
  content: "\e9ab"; }

.rn-icon-speaker:before {
  content: "\e9ac"; }

.rn-icon-star-sharp:before {
  content: "\e9ad"; }

.rn-icon-stopwatch:before {
  content: "\e9ae"; }

.rn-icon-study:before {
  content: "\e9af"; }

.rn-icon-sun:before {
  content: "\e9b0"; }

.rn-icon-switch:before {
  content: "\e9b1"; }

.rn-icon-target:before {
  content: "\e9b2"; }

.rn-icon-ticket:before {
  content: "\e9b3"; }

.rn-icon-timer:before {
  content: "\e9b4"; }

.rn-icon-tools:before {
  content: "\e9b5"; }

.rn-icon-trash:before {
  content: "\e9b6"; }

.rn-icon-umbrella:before {
  content: "\e9b7"; }

.rn-icon-unlock:before {
  content: "\e9b8"; }

.rn-icon-up-arrow:before {
  content: "\e9b9"; }

.rn-icon-upload:before {
  content: "\e9ba"; }

.rn-icon-usb:before {
  content: "\e9bb"; }

.rn-icon-user-female:before {
  content: "\e9bc"; }

.rn-icon-user:before {
  content: "\e9bd"; }

.rn-icon-users:before {
  content: "\e9be"; }

.rn-icon-vector:before {
  content: "\e9bf"; }

.rn-icon-video:before {
  content: "\e9c0"; }

.rn-icon-voicemail:before {
  content: "\e9c1"; }

.rn-icon-volume:before {
  content: "\e9c2"; }

.rn-icon-volume1:before {
  content: "\e9c3"; }

.rn-icon-volume2:before {
  content: "\e9c4"; }

.rn-icon-wallet:before {
  content: "\e9c5"; }

.rn-icon-way:before {
  content: "\e9c6"; }

.rn-icon-wine:before {
  content: "\e9c7"; }

.rn-icon-world:before {
  content: "\e9c8"; }

.rn-icon-wristwatch:before {
  content: "\e9c9"; }

.rn-icon-heart-solid:before {
  content: "\f004"; }

.rn-icon-heart:before {
  content: "\f08a"; }

.rn-icon-star-solid:before {
  content: "\f005"; }

.rn-icon-star:before {
  content: "\f006"; }

.rn-icon-twitter:before {
  content: "\f099"; }

.rn-icon-facebook:before {
  content: "\f09a"; }

.rn-icon-google-plus:before {
  content: "\f0d5"; }

.rn-icon-instagram:before {
  content: "\f16d"; }

.rn-icon-linkedin:before {
  content: "\f0e1"; }

.rn-icon-youtube:before {
  content: "\f16a"; }

.rn-icon-pinterest:before {
  content: "\f231"; }

.rn-icon-rss:before {
  content: "\f09e"; }

.rn-icon-speedometer:before {
  content: "\e051"; }

.rn-icon-scope:before {
  content: "\e058"; }

.rn-icon-bubble:before {
  content: "\e9d5"; }

.rn-icon-triangle-left:before {
  content: "\e9dc"; }

.rn-icon-triangle-up:before {
  content: "\e9dd"; }

.rn-icon-triangle-right:before {
  content: "\e9de"; }

.rn-icon-triangle-down:before {
  content: "\e9df"; }

.rn-icon-blogger:before {
  content: "\e9cb"; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  max-height: 100%;
  margin: 0;
  padding: 0; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #910048; }

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  border: 1px solid #999999;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding: 0.5rem;
  cursor: text;
  outline: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important; }

input[type="checkbox"],
select {
  cursor: pointer; }

select {
  background: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  border-radius: 0;
  background-repeat: no-repeat;
  padding-right: 1rem;
  width: 100%; }

.rn-container, .rn-home-callouts, .rn-home-featured-properties-section, .rn-interior-content {
  margin: 0 auto;
  max-width: 62.5rem; }

@media only screen and (max-width: 48em) {
  .hide-for-mobile {
    display: none !important; } }

table {
  table-layout: fixed; }

@font-face {
  font-family: "Brown-Italic";
  src: url("../fonts/lineto-brown-italic.eot");
  src: url("../fonts/lineto-brown-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-brown-italic.woff") format("woff"), url("../fonts/lineto-brown-italic.ttf") format("truetype"), url("../fonts/lineto-brown-italic.svg#lineto-brown-italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brown-Light";
  src: url("../fonts/lineto-brown-light.eot");
  src: url("../fonts/lineto-brown-light.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-brown-light.woff") format("woff"), url("../fonts/lineto-brown-light.ttf") format("truetype"), url("../fonts/lineto-brown-light.svg#lineto-brown-light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brown-Regular";
  src: url("../fonts/lineto-brown-regular.eot");
  src: url("../fonts/lineto-brown-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-brown-regular.woff") format("woff"), url("../fonts/lineto-brown-regular.ttf") format("truetype"), url("../fonts/lineto-brown-regular.svg#lineto-brown-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  font-family: "Brown-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%; }

.rn-site-header-top-bar {
  background: #B9D9EB;
  color: #910048;
  font-size: 0.75rem;
  width: 100%; }
  .rn-site-header-top-bar.logged-out {
    display: none; }
  .rn-site-header-top-bar .rn-container, .rn-site-header-top-bar .rn-home-callouts, .rn-site-header-top-bar .rn-home-featured-properties-section, .rn-site-header-top-bar .rn-interior-content {
    padding: 0.25rem 0.5rem; }
  .rn-site-header-top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .rn-site-header-top-bar li {
    padding: 0; }
  .rn-site-header-top-bar a {
    color: #910048;
    padding: 0.25rem 0.5rem;
    display: block;
    transition: 150ms ease-in-out all; }
    .rn-site-header-top-bar a:hover {
      color: #1D252D; }

.rn-site-header-main {
  background: #ffffff;
  width: 100%; }
  .rn-site-header-main.fixed {
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top: 0;
    z-index: 99999; }
  .rn-site-header-main > .rn-container, .rn-site-header-main > .rn-home-callouts, .rn-site-header-main > .rn-home-featured-properties-section, .rn-site-header-main > .rn-interior-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-main > .rn-container, .rn-site-header-main > .rn-home-callouts, .rn-site-header-main > .rn-home-featured-properties-section, .rn-site-header-main > .rn-interior-content {
      padding: 0.5rem;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-main {
      height: 2.5rem;
      max-height: 2.5rem;
      position: relative;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .rn-site-header-main > .rn-container, .rn-site-header-main > .rn-home-callouts, .rn-site-header-main > .rn-home-featured-properties-section, .rn-site-header-main > .rn-interior-content {
        height: 100%;
        padding: 0;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; } }

.rn-site-header-logo {
  display: block; }
  .rn-site-header-logo a {
    display: block; }
  .rn-site-header-logo img {
    height: 100%;
    max-height: 100%;
    width: auto;
    display: block; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-logo a {
      padding: 0.5rem; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-logo {
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .rn-site-header-logo a {
        height: 100%;
        padding: 0.25rem; }
      .rn-site-header-logo img {
        height: 100%; } }

.rn-site-header-contact {
  color: #666666;
  font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0.5rem 0;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .rn-site-header-contact h3 {
    font-size: 1.125rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0 1rem 0 0; }
  .rn-site-header-contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .rn-site-header-contact a {
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    padding: 0 0.5rem; }
  .rn-site-header-contact span {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
    padding: 0.5rem;
    width: 100%; }
  @media only screen and (max-width: 48em) {
    .rn-site-header-contact {
      display: none; } }

.rn-site-header-nav {
  font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  width: 100%; }
  @media only screen and (max-width: 48em) {
    .rn-site-header-nav {
      height: 100%;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.rn-site-header-nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .rn-site-header-nav-menu li {
    text-align: center;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .rn-site-header-nav-menu li.has-dropdown {
      position: relative; }
      .rn-site-header-nav-menu li.has-dropdown:hover .dropdown {
        display: block; }
  .rn-site-header-nav-menu a {
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    display: block;
    transition: 150ms ease-in-out all; }
    .rn-site-header-nav-menu a:hover {
      color: #910048; }
  .rn-site-header-nav-menu .dropdown {
    margin: 0;
    list-style: none; }
    .rn-site-header-nav-menu .dropdown li {
      text-align: center; }
      .rn-site-header-nav-menu .dropdown li:hover a {
        color: #910048; }
      .rn-site-header-nav-menu .dropdown li a {
        color: #666666;
        border: none;
        font-weight: normal;
        text-transform: none;
        padding: 0.5rem 1rem;
        min-width: 100%;
        display: inline-block; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-nav-menu {
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .rn-site-header-nav-menu .dropdown {
        padding: 1rem 0 0;
        width: 10rem;
        display: none;
        position: absolute;
        top: 1rem;
        left: 0;
        z-index: 10; }
        .rn-site-header-nav-menu .dropdown a:hover {
          color: #910048; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-nav-menu {
      width: 100%;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10; }
      .rn-site-header-nav-menu li {
        border: none; }
      .rn-site-header-nav-menu a {
        color: #1D252D;
        line-height: 2;
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: block; }
        .rn-site-header-nav-menu a:hover {
          color: #910048; }
      .rn-site-header-nav-menu .dropdown {
        padding: 0;
        width: 100%;
        display: block;
        position: relative;
        top: auto; } }

.rn-site-header-nav-button {
  text-decoration: none; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-nav-button {
      display: none; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-nav-button {
      color: #1D252D;
      text-decoration: none;
      padding: 0.5rem; }
      .rn-site-header-nav-button.rn-site-navigation-toggle {
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .rn-site-header-nav-button.rn-site-navigation-toggle .text {
          font-weight: bold;
          text-transform: uppercase;
          margin-left: 0.5rem; }
      .rn-site-header-nav-button.rn-search-criteria-toggle {
        display: none; }
      .rn-site-header-nav-button i {
        color: #1D252D;
        font-size: 2.0625rem; }
      .rn-site-header-nav-button .rn-site-header-nav-burger {
        position: relative;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        .rn-site-header-nav-button .rn-site-header-nav-burger, .rn-site-header-nav-button .rn-site-header-nav-burger::before, .rn-site-header-nav-button .rn-site-header-nav-burger::after {
          display: block;
          width: 1.5rem;
          height: 0.0625rem;
          background-color: #1D252D;
          transition-property: background-color, -webkit-transform;
          transition-property: background-color, transform;
          transition-property: background-color, transform, -webkit-transform;
          transition-duration: 0.3s; }
        .rn-site-header-nav-button .rn-site-header-nav-burger::before, .rn-site-header-nav-button .rn-site-header-nav-burger::after {
          position: absolute;
          content: ""; }
        .rn-site-header-nav-button .rn-site-header-nav-burger::before {
          top: -0.5rem; }
        .rn-site-header-nav-button .rn-site-header-nav-burger::after {
          top: 0.5rem; }
      .rn-site-header-nav-button.is-active .rn-site-header-nav-burger {
        background-color: transparent; }
      .rn-site-header-nav-button.is-active .rn-site-header-nav-burger::before {
        -webkit-transform: translateY(0.5rem) rotate(45deg);
            -ms-transform: translateY(0.5rem) rotate(45deg);
                transform: translateY(0.5rem) rotate(45deg); }
      .rn-site-header-nav-button.is-active .rn-site-header-nav-burger::after {
        -webkit-transform: translateY(-0.5rem) rotate(-45deg);
            -ms-transform: translateY(-0.5rem) rotate(-45deg);
                transform: translateY(-0.5rem) rotate(-45deg); } }

body.rn-home-page .rn-site-header-home {
  overflow: hidden;
  width: 100%; }
  body.rn-home-page .rn-site-header-home .rn-container, body.rn-home-page .rn-site-header-home .rn-home-callouts, body.rn-home-page .rn-site-header-home .rn-home-featured-properties-section, body.rn-home-page .rn-site-header-home .rn-interior-content {
    height: 100%;
    position: relative; }
  @media only screen and (min-width: 48.0625em) {
    body.rn-home-page .rn-site-header-home {
      background-image: url(../img/315606/header-home-bg.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      height: 50rem; }
      body.rn-home-page .rn-site-header-home .rn-container, body.rn-home-page .rn-site-header-home .rn-home-callouts, body.rn-home-page .rn-site-header-home .rn-home-featured-properties-section, body.rn-home-page .rn-site-header-home .rn-interior-content {
        padding: 0 1rem; } }
  @media only screen and (max-width: 48em) {
    body.rn-home-page .rn-site-header-home {
      background: #910048;
      height: 46.875rem; } }

body:not(.rn-home-page) .rn-site-header-home {
  display: none; }

.rn-site-header-home-logo {
  background: #910048;
  display: inline-block; }
  .rn-site-header-home-logo img {
    height: 100%;
    max-height: 100%;
    width: auto;
    display: block; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-home-logo {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-home-logo {
      padding: 1rem; } }

.rn-site-header-home-search {
  background-position: center center;
  background-repeat: no-repeat;
  height: 46.5rem;
  padding: 1rem;
  width: 16.5625rem;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-home-search {
      background-image: url(../img/315606/header-home-quick-search-bg.png);
      height: 46.5rem;
      top: 1rem;
      right: 1rem; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-home-search {
      background-image: url(../img/315606/header-home-quick-search-small-bg.png);
      height: 37.5rem;
      margin: 0 auto;
      top: 9rem;
      right: 0;
      left: 0; } }

.rn-site-header-home-log-in,
.rn-site-header-home-log-out {
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  transition: 150ms ease-in-out all; }
  .rn-site-header-home-log-in:hover,
  .rn-site-header-home-log-out:hover {
    color: #000000; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-home-log-in,
    .rn-site-header-home-log-out {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-home-log-in,
    .rn-site-header-home-log-out {
      margin-bottom: 1rem; } }

.rn-site-header-home-quick-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .rn-site-header-home-quick-search h3 {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    width: 100%;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }

.rn-qsr {
  font-family: "Brown-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif !important;
  width: 100% !important;
  /*
	
	@media only screen and (max-width:64em) {
		.rn-qsr-cz {
			margin: 0 0 ($gutter-width * 2) 0; // Change margin to bottom
		}
		
		.rn-qsr-mn-l {
			top: rem-calc(-24);
		}
	}
	
	@media only screen and (max-width: 40em) {
		.rn-qsr-button {
			height: rem-calc(40);
			margin: ($gutter-width / 2) ($gutter-width * 4) 0;
		}
	}
*/ }
  .rn-qsr form {
    font-size: 0.625rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .rn-qsr form input,
    .rn-qsr form select {
      background-color: #ffffff;
      border: none;
      color: #000000;
      font-family: inherit !important;
      font-size: inherit !important;
      line-height: normal;
      outline: none;
      text-transform: uppercase;
      height: 100%;
      margin: 0;
      padding: 0.75rem;
      width: 100%; }
    .rn-qsr form select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
      background-position: 100% center;
      background-repeat: no-repeat;
      -webkit-appearance: none; }
    .rn-qsr form select::-ms-expand {
      display: none; }
  .rn-qsr .rn-qsr-cz,
  .rn-qsr .rn-qsr-mn,
  .rn-qsr .rn-qsr-mx,
  .rn-qsr .rn-qsr-bd,
  .rn-qsr .rn-qsr-ba {
    margin: 0 0 0.75rem !important;
    padding: 0;
    float: none !important; }
  .rn-qsr .rn-qsr-mn,
  .rn-qsr .rn-qsr-mx,
  .rn-qsr .rn-qsr-bd,
  .rn-qsr .rn-qsr-ba {
    width: auto !important; }
  .rn-qsr .rn-qsr-cz {
    width: 100% !important; }
  .rn-qsr .rn-qsr-cz-f {
    width: 100% !important; }
  .rn-qsr .rn-qsr-mn-f,
  .rn-qsr .rn-qsr-mx-f,
  .rn-qsr .rn-qsr-bd-f,
  .rn-qsr .rn-qsr-ba-f {
    width: 6rem !important; }
  .rn-qsr .rn-qsr-mx {
    padding-top: 1.625rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .rn-qsr .rn-qsr-label {
    color: #ffffff;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 0 !important; }
  .rn-qsr .rn-qsr-mn-l,
  .rn-qsr .rn-qsr-bd-l,
  .rn-qsr .rn-qsr-ba-l {
    margin-bottom: 0.25rem; }
  .rn-qsr .rn-qsr-mx-l {
    margin-right: 0.75rem; }
  .rn-qsr .rn-qsr-clearctr {
    display: none; }
  .rn-qsr .rn-qsr-button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.125rem !important;
    line-height: 1;
    text-transform: uppercase;
    margin: 1rem 0 0 !important;
    padding: 0.5rem 0;
    width: 100% !important;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    transition: 150ms ease-in-out all; }
    .rn-qsr .rn-qsr-button i {
      color: #000000;
      padding-left: 0.5rem; }
    .rn-qsr .rn-qsr-button:hover, .rn-qsr .rn-qsr-button:focus {
      color: #000000; }

.rn-site-header-home-ghs {
  margin-bottom: 4rem;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.rn-site-header-home-worth {
  background: rgba(185, 217, 235, 0.9);
  font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  width: 20rem;
  position: absolute;
  top: 25rem;
  right: 18.5625rem; }
  .rn-site-header-home-worth h4 {
    color: #910048;
    font-size: 1.125rem;
    font-weight: 200;
    margin-bottom: 0.5rem; }
  .rn-site-header-home-worth input {
    font-size: 0.75rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    width: 100%; }
  .rn-site-header-home-worth p {
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 0.5rem; }
  .rn-site-header-home-worth button {
    background: transparent;
    border: none;
    color: #910048;
    font-weight: 200;
    text-align: right;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    transition: 150ms ease-in-out all; }
    .rn-site-header-home-worth button i {
      color: #000000;
      padding-left: 0.5rem; }
    .rn-site-header-home-worth button:hover {
      color: #000000; }
  @media only screen and (max-width: 48em) {
    .rn-site-header-home-worth {
      display: none; } }

.rn-site-header-home-scroll-link {
  color: #ffffff;
  font-size: 7rem;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  .rn-site-header-home-scroll-link i {
    cursor: pointer;
    transition: 150ms ease-in-out all; }
    .rn-site-header-home-scroll-link i:hover {
      color: #000000; }
  @media only screen and (min-width: 48.0625em) {
    .rn-site-header-home-scroll-link {
      bottom: 0; } }
  @media only screen and (max-width: 48em) {
    .rn-site-header-home-scroll-link {
      bottom: -2rem; } }

@media only screen and (min-width: 64.0625em) {
  .rn-home-callouts {
    padding: 2rem 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .rn-home-callouts {
    padding: 2rem 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 48em) {
  .rn-home-callouts {
    padding: 1rem 0; } }

.rn-home-callouts .slick-prev,
.rn-home-callouts .slick-next {
  background: no-repeat;
  border: none;
  font-size: 2rem;
  height: 2.3125rem;
  width: 2.3125rem;
  display: block;
  position: absolute;
  top: 80px !important;
  z-index: 9;
  font-family: 'RN-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .rn-home-callouts .slick-prev:before,
  .rn-home-callouts .slick-next:before {
    color: #910048; }

.rn-home-callouts .slick-prev {
  left: 8px !important;
  content: ''; }
  .rn-home-callouts .slick-prev:before {
    content: "\e908"; }

.rn-home-callouts .slick-next {
  right: 16px !important; }
  .rn-home-callouts .slick-next:before {
    content: "\e90a"; }

.rn-home-callout {
  background-color: #B9D9EB;
  background-position-x: center;
  background-repeat: no-repeat;
  font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 1rem;
  height: 12rem;
  position: relative; }
  .rn-home-callout:hover span:last-of-type {
    opacity: 1; }
  .rn-home-callout span:first-of-type {
    font-size: 1.3125rem;
    text-align: center;
    padding-top: 7rem;
    display: block; }
  .rn-home-callout span:last-of-type {
    background: #910048;
    color: #ffffff;
    height: 100%;
    opacity: 0;
    padding: 1rem;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out all; }
    .rn-home-callout span:last-of-type strong {
      font-family: "Brown-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 0.875rem;
      text-transform: uppercase;
      padding-top: 2rem;
      display: block; }
  @media only screen and (min-width: 64.0625em) {
    .rn-home-callout {
      width: calc(20% - 1rem); } }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    .rn-home-callout {
      margin: 0 0.5rem 1rem;
      width: calc(33% - 1rem); } }
  @media only screen and (max-width: 48em) {
    .rn-home-callout {
      margin: 0 0.5rem 1rem; } }

.rn-home-featured-properties-section h3 {
  font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 48.0625em) {
  .rn-home-featured-properties-section {
    padding: 2rem 1rem; } }

@media only screen and (max-width: 48em) {
  .rn-home-featured-properties-section {
    padding: 1rem 0.5rem; } }

.rn-home-featured-properties {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.rn-home-featured-property {
  text-decoration: none; }
  .rn-home-featured-property div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding: 0;
    width: 100%;
    position: relative; }
    .rn-home-featured-property div span:first-of-type {
      border-style: solid;
      border-width: 270px 270px 0 0;
      border-color: #910049 transparent transparent transparent;
      height: 0;
      width: 0;
      opacity: 1;
      position: absolute;
      top: 1.25rem;
      left: 1.25rem;
      z-index: 1; }
    .rn-home-featured-property div span:last-of-type {
      color: #ffffff;
      position: absolute; }
  .rn-home-featured-property h4 {
    font-family: "Brown-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.25rem; }

/*

.rn-home-hero-area {
	height: calc(34.375rem + 1rem);
	
	position: relative;
}

.rn-home-hero-slider {
	box-shadow: 0 4px 8px 0 rgba($secondary-color, 0.75);
	
	.slick-slide {
		background-position: center top;
		border: ($gutter-width / 2) solid $white;
		
		padding-top: rem-calc(550);
	}
	
	.slick-dots {
		@extend .rn-container;
		
		text-align: right;
		
		padding: 0 ($gutter-width / 2);
		
		right: 0;
		bottom: $gutter-width;
		left: 0;
		
		li {
			button:before {
				background: transparent;
				border: 1px solid $white;
				border-radius: 100%;
				color: transparent !important;
				line-height: rem-calc(12) !important;
				
				height: rem-calc(12) !important;
				width: rem-calc(12) !important;
				
				opacity: 1 !important;
			}
			
			&.slick-active button:before {
				background: $white;
				color: $white !important
			}
		}
	}
}

.rn-home-hero-text {
	color: $white;
	text-shadow: 1px 1px 2px $secondary-color;
	
	padding: $gutter-width;
	
	h1 {
		font-size: rem-calc(52);
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		
		margin: 0;
		
		span {
			font-family: $sans-serif-font;
			font-size: rem-calc(46);
			font-weight: 200;
			text-transform: none;
			
			padding-left: $gutter-width * 2;
			
			display: block;
		}
	}
	
	h4 {
		font-size: rem-calc(25);
		font-style: italic;
		font-weight: normal;
		text-align: right;
	}
	
	@media only screen and (min-width:48.0625em) {
		width: 50%;
	}
	
	@media only screen and (max-width:48em) {
		width: 100%;
	}
	
	@media only screen and (max-width: 40em) {
		h1 {
			font-size: 10vw;
			
			span {
				font-size: 9vw;
			}
		}
		
		h4 {
			font-size: 6vw
		}
	}
}

// HOME CONTENT / SIDEBAR
// - - - - - - - - - - - - - - -

.rn-home-content {
	@extend .rn-container;
	
	margin: $gutter-width auto;
	
	display: flex;
	
	@media only screen and (max-width:48em) {
		flex-wrap: wrap;
	}
}

.rn-home-content-main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	
	@media only screen and (min-width:48.0625em) {
		margin-right: $gutter-width;
	}
	
	@media only screen and (max-width:48em) {
		
	}
}

.rn-home-content-sidebar {
	@media only screen and (min-width:48.0625em) {
		width: rem-calc(250);
	}
	
	@media only screen and (max-width:48em) {
		width: 100%;
	}
}

// HOME AGENTS
// - - - - - - - - - - - - - - -

.rn-home-agents {
	display: flex;
	flex: 0 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	
	@media only screen and (max-width:48em) {
		justify-content: space-around;
	}
}

.rn-home-agent {
	color: $secondary-color;
	text-align: center;
	
	height: rem-calc(350);
	margin-bottom: $gutter-width;
	width: rem-calc(150);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	img {
		@include photo-border();
		
		margin-bottom: $gutter-width;
		width: 100%;
	}
	
	h1 {
		font-size: rem-calc(18);
		font-weight: normal;
		
		margin-bottom: $gutter-width / 4;
	}
	
	p {
		font-size: rem-calc(13);
		font-weight: 400;
		line-height: 1.4;
		
		margin-bottom: 0;
	}
	
	span {
		font-size: rem-calc(13);
	}
	
	hr {
		margin: ($gutter-width / 4) $gutter-width;
	}
	
	a {
		font-family: $serif-font;
		font-size: rem-calc(14);
		text-decoration: none;
		text-transform: uppercase;
	}
}

// HOME FEATURED PROPERTIES
// - - - - - - - - - - - - - - -

.rn-home-featured-properties {
	@include gray-background();
	
	align-content: flex-start;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	justify-content: space-around;
	
	h2 {
		color: $primary-color;
		font-size: rem-calc(20);
		font-weight: normal;
		text-align: center;
		
		width: 100%;
	}
	
	@media only screen and (min-width:48.0625em) {
		padding: $gutter-width * 2;
	}
	
	@media only screen and (max-width:48em) {
		margin-bottom: $gutter-width;
		padding: $gutter-width / 2;
	}
}

.rn-home-featured-property {
	margin-bottom: $gutter-width;
	width: rem-calc(220);
	
	a {
		color: $secondary-color;
		text-decoration: none;
		
		width: 100%;
		
		div {
			@include photo-border();
			
			width: 100%;
			
			&:before {
				content: "";
				display: block;
				padding-top: 75%;
			}
		}
	}
	
	ul {
		font-size: rem-calc(13);
		line-height: 1.4;
		
		margin: 0;
		padding: ($gutter-width / 2) 0;
		
		list-style: none;
	}
	
	li {
		span {
			width: 40%;
			
			display: inline-block;
		}
	}
	
	button {
		border: none;
		color: $white;
		background: $primary-color;
		font-family: $serif-font;
		font-size: rem-calc(12);
		text-transform: uppercase;
		
		margin: 0 auto;
		padding: $gutter-width / 2;
		
		display: block;
		
		transition: $transition;
		
		&:hover {
			background: $secondary-color;
		}
	}
}

// HOME CALLOUTS
// - - - - - - - - - - - - - - -

.rn-home-callouts {
	@include gray-background();
}

.rn-home-callout {
	color: $secondary-color;
	text-align: center;
	
	padding: $gutter-width;
	
	h1 {
		font-size: rem-calc(26);
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		
		margin-bottom: 0;
	}
	
	p {
		font-size: rem-calc(13);
		
		margin-bottom: 0;
	}
	
	a {
		font-size: rem-calc(18);
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	}
}
*/
.rn-interior-content {
  padding: 0.5rem; }
  .rn-interior-content img {
    height: auto;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .rn-interior-content .centered {
    text-align: center; }
  .rn-interior-content .flex-video {
    height: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative; }
    .rn-interior-content .flex-video iframe,
    .rn-interior-content .flex-video object,
    .rn-interior-content .flex-video embed,
    .rn-interior-content .flex-video video {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .rn-interior-content .rn-row {
    margin-bottom: 0.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .rn-interior-content .rn-row.center {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .rn-interior-content .rn-column {
    padding: 1rem; }
    .rn-interior-content .rn-column.half {
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
    .rn-interior-content .rn-column.one-third {
      -webkit-flex: 0 0 33%;
          -ms-flex: 0 0 33%;
              flex: 0 0 33%; }
    .rn-interior-content .rn-column.two-thirds {
      -webkit-flex: 0 0 66%;
          -ms-flex: 0 0 66%;
              flex: 0 0 66%; }
    @media only screen and (max-width: 48em) {
      .rn-interior-content .rn-column.half, .rn-interior-content .rn-column.one-third, .rn-interior-content .rn-column.two-thirds {
        padding: 0.5rem 0;
        -webkit-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%; } }
  .rn-interior-content h1 {
    color: #910048;
    font-size: 2.5rem;
    font-weight: 100; }
  .rn-interior-content h2 {
    color: #910048;
    font-size: 2rem;
    font-weight: 100; }
  .rn-interior-content h3 {
    color: #910048;
    font-size: 1.5rem;
    font-weight: 100; }
  .rn-interior-content h4 {
    color: #910048;
    font-size: 1.25rem;
    font-weight: 100; }
  .rn-interior-content h5 {
    color: #910048;
    font-size: 1.125rem;
    font-weight: 400; }
  .rn-interior-content h6 {
    color: #910048;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400; }
  .rn-interior-content p {
    font-size: 1rem;
    line-height: 1.4; }
  .rn-interior-content p,
  .rn-interior-content ul,
  .rn-interior-content ol,
  .rn-interior-content span {
    color: #B9D9EB; }
  .rn-interior-content a {
    color: #910048;
    transition: 150ms ease-in-out all; }
    .rn-interior-content a:hover {
      color: #B9D9EB; }
  .rn-interior-content .no-bullet {
    margin: 0;
    padding: 0;
    list-style: none; }
  .rn-interior-content blockquote {
    border: 1px solid #910048;
    color: #B9D9EB;
    font-size: 1.125rem; }
  .rn-interior-content hr {
    border-color: #B9D9EB;
    border-style: solid;
    border-width: 1px 0 0;
    margin: 1rem auto; }

/*
// FOOTER

.rn-site-footer {
	@include purple-grid-bg();
	
	font-size: rem-calc(10);
	
	.rn-container {
		padding: $gutter-width;
	}
}

.rn-site-footer-contact {
	margin: 0 0 $gutter-width;
	padding: 0;
	
	list-style: none;
	
	display: flex;
	justify-content: center;
	
	li {
		&:first-of-type {
			margin-right: $gutter-width * 4;
		}
	}
	
	a {
		color: $white;
		font-size: rem-calc(11);
	}
}

.rn-site-footer-disclaimer {
	text-align: center;
	
	margin-bottom: $gutter-width;
	
	display: block;
}

.rn-site-footer-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	ul {
		margin: 0;
		padding: $gutter-width / 2;
		
		list-style: none;
	}
	
	li:first-of-type {
		margin-bottom: $gutter-width / 2;
	}
	
	span {
		font-size: rem-calc(12);
	}
	
	a {
		color: $white;
	}
}
*/
